.profile {
    display: flex;
}

.profile-container {
    margin-top: 74px;
    width: 100%;
    padding: 20px 20% 30px 15%;
    overflow-x: hidden;  
}

.profileRight {
    margin-left: 20px;
}

.profileRightTop {
    height: 100%;   
}

.profileUserDisplay-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: calc(100% - 20px);
    border-radius: 60px;
    background-color: white;
}

.flameProfileBackgroundImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    margin-bottom: 0;
    display: flex;
}

.flameProfileBackgroundImg.back {
    position: relative;
}

.flameProfileBackgroundImg.front {
    position: absolute;
}

.profileBackgroundImg.edit {
    opacity: 30%;
}

.profileNavigation {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-top: white 5px solid;
}

.profileNavLeft {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
}

.profileNavRight {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
}


.profileNavLeft Button {
    border: none;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    margin: 0 2.5px;
    cursor: pointer; 
}

.profileNavRight Button {
    border: none;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    margin: 0 2.5px;
    cursor: pointer;
}

.userProfileBtn.private.masculine {
    background-color: #d8e1fe;
    color: white;
}

.userProfileBtn.private.feminine {
    background-color: #fde1ef;
    color: white;
}

.userProfileBtn.gray {
    background-color: #e4e6e7;
    color: white;
}



.userProfileBtn.masculine {
    background-color: #4a76fd;
    color: white;
}

.userProfileBtn.masculine-active {
    background-color: white;
    color: #4a76fd;
}

.userProfileBtn.feminine {
    background-color: #e639af;
    color: white;
}

.userProfileBtn.feminine-active {
    background-color: white;
    color: #e639af;
}

.userProfileBtn.gray {
    background-color: #aeb4b7;
    color: white;
}

.userProfileBtn.gray-active {
    background-color: white;
    color: #aeb4b7;
}

.userStoryBtn {
    background-color: #bfc2c7;
}

.userStoryBtn-active {
    background-color: white;
}

.userAboutBtn {
    background-color: #bfc2c7;
}

.userAboutBtn-active {
    background-color: white;
}

.userPostsBtn {
    background-color: #bfc2c7;
}

.userPostsBtn-active {
    background-color: white;
}

.userQuestionsBtn {
    background-color: #bfc2c7;
}

.userQuestionsBtn-active {
    background-color: white;
}

.userAnswersBtn {
    background-color: #bfc2c7;
}

.userAnswersBtn-active {
    background-color: white;
}

.userBlogsBtn {
    background-color: #bfc2c7;
}

.userBlogsBtn-active {
    background-color: white;
}

.profileBackgroundImgBackgroundLayer {
    width: 100%;
    height: 300px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    margin-bottom: 0;
    position: absolute;
}

.profileWhiteBackgroundLayer {
    position: absolute;
    border-radius: 50%;
    margin: auto;
    border: 5px solid white;
    background-color: white;
    width: 200px;
    height: 200px;
    left: 0;
    right: 0;
    top: 145px;
    z-index: 1;
}

.profileImgBackgroundLayer {
    position: absolute;
    border-radius: 50%;
    margin: auto;
    border: 5px solid white;
    z-index: 1;
}

.profileImgBackgroundLayer.primary {
    width: 200px;
    height: 200px;
    left: 0;
    right: 0;
    top: 145px;
}

.profileImgBackgroundLayer.masculine, .profileBackgroundImgBackgroundLayer.masculine {
    background-color: #d8e1fe;
}

.profileImgBackgroundLayer.feminine, .profileBackgroundImgBackgroundLayer.feminine {
    background-color: #fde1ef;
}

.profileImgBackgroundLayer.grey, .profileBackgroundImgBackgroundLayer.grey {
    background-color: #f1f1f1;
}

.profileImg {
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin: auto;
    border: 5px solid white;
}

.profileImg.primary {
    width: 200px;
    height: 200px;
    left: 0;
    right: 0;
    top: 145px;
}

.profileImg.edit {
    opacity: 30%;
    cursor: pointer;
}

.profileFlameBackgroundImgEdit {
    position: absolute;
    top: 25px;
    left: calc(50% - 50px);
    font-size: 100px !important;
    color: white;
    z-index: 10;
}

.profileImgEdit {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 205px;
    font-size: 96px !important;
    color: white;
    cursor: pointer;
    z-index: 3;
}

.profilePhotoEditorBtn {
    position: absolute;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #f1f1f1;
    border: 5px solid white;
    cursor: pointer;
    z-index: 2;
}

.profilePhotoEditorBtn.background {
    right: 20px;
    top: 20px; 
}

.profilePhotoEditorBtn.avatar {
    left: calc(50% - 29px);
    top: 324px;
}

.profilePhotoEditorIcon {
    font-size: 30px !important;
    margin: 8px 0 0 8px;
    color: #aeb4b7;
}

.profileAvatarEditorDropdown {
    position: absolute;
    width: 72px;
    right: 0;
    left: calc(50% + 36px);
    top: 291px;
    z-index: 4;
}

.profileBackgroundEditorDropdown {
    position: absolute;
    width: 72px;
    right: 88px;
    top: 20px;
}

/*
.profileImgEdit.masculine {
    color: #4a76fd;
}

.profileImgEdit.feminine {
    color: #e639af;
}

.profileImgEdit.grey {
    color: #f1f1f1;
}
*/

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.profileInfoEdit {
    position: absolute;
    right: 22px;
    top: 350px;
    font-size: 30px !important;
}

.profileInfoEdit.masculine {
    color: #4a76fd;
}

.profileInfoEdit.feminine {
    color: #e639af;
}

.profileInfoEdit.grey {
    color: #f1f1f1;
}

.profileName {
    font-size: 48px;
    margin: 10px 0 20px 0;
}

.profileUserTF {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profileUserTFKey {
    font-size: 20px;
    font-weight: 900;
    margin-right: 10px;
}

.profileUserTFKey.masculine {
    color: #e639af;
}

.profileUserTFKey.feminine {
    color: #4a76fd;
}   

.profileUserTFValue {
    cursor: pointer;
}

.profileUserTFLink {
    display: flex;
    align-items: center;
}

.profileUserTFPic {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.profileUserTFEnergy {
    height: 20px;
    margin-left: 5px;
    margin-bottom: 3px;
}

.profileUserTFName {
    font-size: 18px;
    font-weight: 500;
    margin-left: 3px;
}

.profileAbout {
    width: 90%;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.flameProfileSpiritIcons {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 20px 0;
}

.flameProfileSpiritIcon {
    display: flex;
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;
    height: 24px;
    margin: 0 10px 0 10px;
}

.flameProfileSpiritIcon.energy {
    width: 14px;
}

.flameProfileSpiritIcon.spectrum {
    width: 24px;
}

.flameProfileSpiritIcon.charge {
    width: 18px;
}

.flameProfileSpiritIcon.sex.male {
    width: 24px;
}

.flameProfileSpiritIcon.sex.female {
    width: 16px;
}

.flameProfileSpiritIcon.sex.bigender {
    width: 17px;
}

.flameProfileSpiritIcon.sex.transgender {
    width: 24px;
}

.flameProfileSpiritIcon.orientation.straight {
    width: 24px;
}

.flameProfileSpiritIcon.orientation.gay {
    width: 24px;
}

.flameProfileSpiritIcon.orientation.lesbian {
    width: 24px;
}

.flameProfileSpiritIcon.orientation.pan {
    width: 12px;
}

.flameProfileSpiritIcon.orientation.male.bisexual {
    width: 34px;
}

.flameProfileSpiritIcon.orientation.female.bisexual {
    width: 34px;
}

.flameProfileSpiritIcon.sunSign {
    width: 24px;
}

.flameProfileSpiritIcon.compass {
    width: 24px;
}

.flameProfileSpiritIcon.sunSign {
    width: 24px;
}

.flameProfileSpiritIcon.compass {
    width: 24px;
}

.profileInfoHereFor {
    display: flex;
    margin: 10px 0 20px 0;
}

.profileInfoHereForKey {
    font-weight: 500;
    margin-right: 10px;
    color: #555;
}



.profileRightBottom {
    display: flex;
}

.profileInfoHereForValue {
    color: #555;
}

.profileFollowStats {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    cursor: pointer;
}

.profileFollowStatLink {
    text-decoration: none;
    color: black;
}

.profileFollowStatText {
    margin: 0 10px;
    font-size: 18px;
    font-weight: 500;
}

.profileFollowStatCount {
    font-size: 18px;
    font-weight: 900;
}

.profileSubscribeStats {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    cursor: pointer;
}

.profileSubscribeStatLink {
    text-decoration: none;
    color: black;
}

.profileSubscribeStatText {
    margin: 0 10px;
    font-size: 18px;
    font-weight: 500;
}

.profileSubscribeStatCount {
    font-size: 18px;
    font-weight: 900;
}

.flameProfileHr {
    width: 80%;
    margin-top: 30px;
    height: 5px;
    border: none;
}
    
.flameProfileHr.masculine {
    background: #4a76fd;   
}

.flameProfileHr.feminine {
    background: #e639af;   
}

.flameProfileHr.gray {
    background: #aeb4b7;   
}


.profileDisplay-container {
    width: 80%;
}

.privateAccText {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
    Margin: 50px 0;
    display: flex;
    justify-content: center;
}
