.friendlistConnectBtns button {
    height: 25px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    margin: 0 5px;
    cursor: pointer;
}

.friendlistBtns.ruby button{
    background-color: #850014;
    color: white;
}

.friendlistBtns.orange button{
    background-color: #ff8303;
    color: white;
}

.friendlistBtns.sun button{
    background-color: #ffe700;
    color: white;
}

.friendlistBtns.emerald button{
    background-color: #50c878;
    color: white;
}

.friendlistBtns.blue button{
    background-color: #098de9;
    color: white;
}

.friendlistBtns.indigo button{
    background-color: #30307e;
    color: white;
}

.friendlistBtns.violet button{
    background-color: #8a2be2;
    color: white;
}

.friendlistBtns.gold button {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
    color: white;
}

.friendlistBtns.silver button {
    background: -webkit-linear-gradient(left, #dadada , #8e8e8e, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dadada , #8e8e8e, #dadada); /* Standard syntax (must be last) */
    color: white;
}

.friendlistBtns.platinum button {
    background: -webkit-linear-gradient(left, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* Standard syntax (must be last) */
    color: white;
}

.friendlistBtns.masculine button{
    background-color: #4a76fd;
    color: white;
}

.friendlistBtns.feminine button{
    background-color: #e639af;
    color: white;
}

.friendlistBtns.gray button {
    background-color: #bfc2c7;
    color: black;
}

.friendlistDisconnectBtn {
    width: 40px;
    vertical-align: bottom;
    background-size: cover;
}

.friendlistDisconnectBtnRainbow {
    width: 40px;
    vertical-align: bottom;
    background: -webkit-linear-gradient(left, #850014, #c2420b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #850014, #c2420b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #850014, #c2420b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #850014, #c2420b); /* Standard syntax (must be last) */
    color: white;
}

.friendlistFollowBtn {
    width: 90px;
    vertical-align: bottom;
    background-size: cover;
}

.friendlistFollowBtnRainbow {
    width: 90px;
    vertical-align: bottom;
    background: -webkit-linear-gradient(left, #c2420b, #ff8303, #ffe700); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #c2420b, #ff8303, #ffe700); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #c2420b, #ff8303, #ffe700); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #c2420b, #ff8303, #ffe700); /* Standard syntax (must be last) */
    color: white;
}

.friendlistFollowIcon {
    font-size: 18px !important;
    padding-top: 2.5px;
}

.friendlistMessageBtn {
    width: 70px;
    vertical-align: bottom;
    background-size: cover;
}

.friendlistMessageBtnRainbow {
    width: 70px;
    vertical-align: bottom;
    background: -webkit-linear-gradient(left, #ffe700, #50c878, #098de9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ffe700, #50c878, #098de9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ffe700, #50c878, #098de9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ffe700, #50c878, #098de9); /* Standard syntax (must be last) */
    color: white;
}

.friendlistSubscribeBtn {
    width: 70px;
    vertical-align: bottom;
    background-size: cover;
}

.friendlistSubscribeIcon {
    font-size: 18px !important;
    padding-top: 2.5px;
}

.friendlistSubscribeBtnRainbow {
    width: 70px;
    vertical-align: bottom;
    background: -webkit-linear-gradient(left, #098de9, #30307e, #8a2be2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #098de9, #30307e, #8a2be2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #098de9, #30307e, #8a2be2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #098de9, #30307e, #8a2be2); /* Standard syntax (must be last) */
    color: white;
}

.friendslistCheckIcon {
    font-size: 18px !important;
}

.ffbDiamondText {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}







