.channels {
    display: flex;
}

.channels-container {
    margin-top: 74px;
    width: 100%;
    padding: 20px 20% 30px 15%;
    overflow-x: hidden;  
}

.channelsAd {
    margin: 0 20px;
}

.channelsRight {
    margin: 0 60px 0 20px;
}

.channelsDisplayContainer {
    width: 100%;
    position: relative;
}

.channelsDisplayBackgroundTheme {
    width: 100%;
    padding-right: 40px;
    border-radius: 20px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    position: absolute;
    opacity: 0.75;
    background-size: 100%;
    background-repeat: repeat;
}

.channelsDisplay-container {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    padding: 20px;   
}

.channelsDisplay-container.union {
    position: sticky;
}

.channelsDisplay-container.flame {
    width: 100%;
}

.channelsDisplayList {
    padding: 30px 20px 0 20px;
}

.channelsDisplayListItem {
    list-style: none;
}