.createPostPortal {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createPostBackdropOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.createPostModal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createPost {
    width: 39.375rem; /*630px*/
    height: 39.375rem; /*630px*/
    border-radius: 2.5rem; /*40px*/
    background-color: white;
    padding: 1.25rem; /*20px*/
    top: 0.125rem; /*2px*/
    left: 0.125rem; /*2px*/
    position: relative;
    opacity: 1;
    -webkit-box-shadow: 0rem 0.625rem 3.125rem -1.25rem rgba(0,0,0,0.75); /*0px 0px 50px -20px*/
    box-shadow: 0rem 0.625rem 3.125rem -1.25rem rgba(0,0,0,0.75); /*0px 0px 50px -20px*/
}

.createPost.union {
    position: absolute;
}

.createPost.flame {
    margin-bottom: 1.875rem; /*30px*/
}

.createPost-container {
    padding: 0.625rem; /*10px*/
}

.createPostTop {
    display: flex;
    flex-direction: column;
}

.createPostTopUpper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.createPostLogo {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.875rem; /*30px*/
    width: 1.688rem; /*27px*/
}

.creatPostTitle {
    font-size: 1.75rem; /*28px*/
    font-weight: 900;
}

.createPostCancelPNGIcon {
    height: 2.25rem; /*36px*/
    width: 2.25rem; /*36px*/
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: -0.313rem; /*-5px*/
    margin-bottom: -0.125rem; /*-2px*/
}

.createPostCancelSVGIcon {
    font-size: 2.25rem !important; /*36px*/
    margin-right: -0.313rem; /*-5px*/
    margin-bottom: -0.125rem; /*2px*/
}

.createPostTopLower {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.createPostDropdownBtns {
    display: flex;
    flex-direction: row;
}

.createPostDropdownBtn {
    display: flex;
    align-items: center;
    height: 2.25rem; /*36px*/
    border: none;
    border-radius: 0.625rem; /*10px*/
    color: white;
    margin-left: 1.25rem; /*20px*/
    background-size: cover;
}

.createPostDropdownBtn.masculine {
    background-color: #4a76fd;
}

.createPostDropdownBtn.feminine {
    background-color: #e639af;
}

.createPostDropdownBtn.ruby {
    background-color: #850014;
}

.createPostDropdownBtn.orange {
    background-color: #ff8303;
}

.createPostDropdownBtn.sun {
    background-color: #ffe700;
}

.createPostDropdownBtn.emerald {
    background-color: #50c878;
}

.createPostDropdownBtn.blue {
    background-color: #098de9;
}

.createPostDropdownBtn.indigo {
    background-color: #30307e;
}

.createPostDropdownBtn.violet {
    background-color: #8a2be2;
}

.createPostDropdownBtn.rainbow {
    background: -webkit-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* Standard syntax (must be last) */
}

.createPostDropdownBtn.silver {
    background: -webkit-linear-gradient(left, #dadada , #8e8e8e, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dadada , #8e8e8e, #dadada); /* Standard syntax (must be last) */
}

.createPostDropdownBtn.gold {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
}

.createPostDropdownBtn.platinum {
    background: -webkit-linear-gradient(left, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* Standard syntax (must be last) */
}

.createPostDropdownBtn.gray {
    background-color: #aeb4b7;
}

.createPostVisibilityIcon {
    display: flex;
    align-items: center;
    font-size: 1.25rem !important; /*20px*/
    margin: 0 0.313rem; /*0 5px*/
}

.createPostVisibilityIcon.diamond {
    color: #ab781d;
}

.createPostDropdownTitle {
    font-size: 0.875rem; /*14px*/
    font-weight: 500; 
}

.createPostDropdownTitle.feed {
    margin-left: 0.313rem; /*5px*/
}

.createPostDropdownTitle.feed.diamond {
    background: -webkit-linear-gradient(left, #ab781d , #ab781d, #eed264, #eed264, #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #ab781d, #eed264, #eed264, #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #ab781d, #eed264, #eed264, #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #ab781d, #eed264, #eed264, #eed264, #ab781d); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.createPostDropdownTitle.visibility.diamond {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #eed264, #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #eed264, #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #eed264, #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #eed264, #eed264, #ab781d); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.createPostDropdownIcon {
    font-size: 30px !important;
    margin-right: -0.125rem; /*2px*/
}

.createPostDropdownIcon.diamond {
    color: #ab781d;
}

.createPostTitleEditorContainer {
    position: relative;
    width: 100%;
    min-height: 3rem; /*48px*/
    border-radius: 0.625rem; /*10px*/
    margin-top: 1.25rem; /*20px*/
    overflow: hidden;
}

.createPostTitleHigherSpectrumBackground {
    position: absolute;
    width: 100%;
    min-height: 3rem; /*48px*/
    border-radius: 0.625rem; /*10px*/
    top: 0;
    left: 0;
    background-size: cover;
    opacity: 30%;
}

.createPostTitleWhiteBackground {
    position: absolute;
    margin: 24px 1.875rem; /*30px*/
    width: calc(100% - 3.75rem); /*60px*/
    height: 0rem; /*0px*/
    border-radius: 1.25rem; /*20px*/
    top: 0;
    left: 0;
    background-color: white;
    -webkit-box-shadow: 0rem 0rem 1.875rem 1.875rem white; /*0px 0px 30px 30px*/
    box-shadow: 0rem 0rem 1.875rem 1.875rem white; /*0px 0px 30px 30px*/
}

.createPostTitleEditor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 3rem; /*48px*/
    border-radius: 0.625rem; /*10px*/
    position: absolute;
    top: 0;
    left: 0;
}

.createPostTitleEditorInput {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 3.125rem); /*50px*/
    margin-left: 1.25rem; /*20px*/
    font-size: 1rem; /*16px*/
    font-weight: 700;
    border: none;
    background: transparent;  
}

.createPostTitleEditorInput:focus {
    outline: none;
}

.createPostTitleRequirementText {
    font-size: 0.75rem; /*12px*/
    cursor: initial;
    margin: 0 1.25rem; /*20px*/
    color: #aeb4b7;
}

.createPostEditorContainerContainer {
    position: relative;
    width: 38.125rem; /*610px*/
    height: 15.875rem; /*254px*/
    border-radius: 1.25rem; /*20px*/ 
    overflow: hidden;
}

.createPostEditorContainerContainer.editor {
    position: relative;
    margin: 1.25rem 0; /*20px 0*/
}

.createPostEditorContainerContainer.imgDZ {
    position: absolute;
    top: 0;
    left: 0;
}

.createPostHigherSpectrumBackground {
    position: absolute;
    width: 100%;
    height: 16rem; /*256px*/
    border-radius: 1.25rem; /*20px*/
    top: 0;
    left: 0;
}

.createPostWhiteBackground {
    position: absolute;
    margin:  3.125rem; /*50px*/
    width: calc(100% - 6.25rem); /*100px*/
    height: 9.625rem; /*154px*/
    border-radius: 1.25rem; /*20px*/
    top: 0;
    left: 0;
    background-color: white;
    -webkit-box-shadow: 0rem 0rem 1.875rem 3.125rem white; /*0px 0px 30px 50px*/
    box-shadow: 0rem 0rem 1.875rem 3.125rem white; /*0px 0px 30px 50px*/
    
}


.createPostEditor {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2.75rem); /*44px*/
    height: 13.375rem; /*214px*/
    max-height: 15.875rem; /*254px*/
    padding:  1.25rem 1.188rem 1.25rem 1.563rem; /*20px 19px 20px 25px*/
    font-size: 0.875rem; /*14px*/
    border-radius: 1.25rem; /*20px*/
    overflow: hidden;
}

.creatPostImgDropzoneContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -0.125rem; /*2px*/
    left: 0;
    z-index: 2;
    width: 100%;
    overflow: hidden;
    transition: height 325ms cubic-bezier(0.43,-0.35, 0.14, 1.35);
    border-radius: 1.25rem; /*20px*/
}

.createPostImgDZContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13.875rem; /*222px*/
    width: 35.625rem; /*570px*/ 
    margin: 1.25rem; /*20px*/  
    border-radius: 1.25rem; /*20px*/
}

.createPostImgDZContainer.rainbow {
    background: -webkit-linear-gradient(right, #d4a6ad, #ffdab3, #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d4a6ad, #ffdab3, #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d4a6ad, #ffdab3, #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d4a6ad, #ffdab3, #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* Standard syntax (must be last) */
}

.createPostImgDZContainer.silver {
    background: -webkit-linear-gradient(left, #f4f4f4, #dddddd, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f4f4f4, #dddddd, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f4f4f4, #dddddd, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f4f4f4, #dddddd, #f4f4f4); /* Standard syntax (must be last) */
}

.createPostImgDZContainer.gold {
    background: -webkit-linear-gradient(left, #e6d6bb , #faf1d0, #e6d6bb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e6d6bb , #faf1d0, #e6d6bb); /* Standard syntax (must be last) */
}

.createPostImgDZContainer.platinum {
    background: -webkit-linear-gradient(left, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2, #e7dfe0, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2, #e7dfe0, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2, #e7dfe0, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2, #e7dfe0, #f4f4f4); /* Standard syntax (must be last) */
}

.createPostImgDZBorder {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    background-size: contain;
    background-repeat: no-repeat;
    height: 13.875rem; /*222px*/
    width: 35.625rem; /*570px*/ 
    position: absolute;
    top: 1.063rem; /*17px*/
    left: 1.25rem; /*20px*/
}

.createPostImgDropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35.25rem; /*564px*/
    height: 13.5rem; /*216px*/
    border-radius: 1.25rem; /*20px*/
    z-index: 2;
}

.createPostImgDropzone.masculine {
    background-color: #d8e1ef; 
    border: dashed 0.188rem #4a76fd; /*3px*/
}

.createPostImgDropzone.feminine {
    background-color: #fde1ef; 
    border: dashed 0.188rem #e639af; /*3px*/
}

.createPostImgDropzone.ruby {
    background-color: #d4a6ad; 
    border: dashed 0.188rem #850014; /*3px*/
}

.createPostImgDropzone.orange {
    background-color: #ffdab3; 
    border: dashed 0.188rem #ff8303; /*3px*/
}

.createPostImgDropzone.sun {
    background-color: #fff9bf; 
    border: dashed 0.188rem #ff3700; /*3px*/
}

.createPostImgDropzone.emerald {
    background-color: #caeed6; 
    border: dashed 0.188rem #50c878; /*3px*/
}

.createPostImgDropzone.blue {
    background-color: #cee8fb; 
    border: dashed 0.188rem #098de9; /*3px*/
}

.createPostImgDropzone.indigo {
    background-color: #babad4; 
    border: dashed 0.188rem #30307e; /*3px*/
}

.createPostImgDropzone.violet {
    background-color: #dcbff6; 
    border: dashed 0.188rem #8a2be2; /*3px*/
}

.createPostImgDropzone.violet {
    background-color: #dcbff6; 
    border: dashed 0.188rem #8a2be2; /*3px*/
}

.createPostImgDropzone.gray {
    background-color: #e4e6e7; 
    border: dashed 0.188rem #aeb4b7; /*3px*/
}

.createPostImgDZCancelPNGIcon {
    position: absolute;
    top: 1.563rem; /*25px*/
    right: 1.688rem; /*27px*/
    height: 1.25rem; /*20px*/
    width: 1.25rem; /*20px*/
    z-index: 3;
}

.createPostImgDZCancelSVGIcon {
    position: absolute;
    top: 0.188rem; /*3px*/
    right: 1.563rem; /*25px*/
    z-index: 3;
}

.createPostEditorContainer {
    height: 100%;
    overflow-y: auto;
}

.createPostHashtagEditor {
    width: 100%;
    padding-right: 1.25rem; /*20px*/
}

/*
div.public-DraftcreateorPlaceholder-inner {
    font-size: 12px
}
*/

.createPostInput {
    border: none;
    width: 80%;
    white-space: pre-wrap;
}

.createPostInput:focus {
    outline: none;
}

.createPostHrDiamond {
    width: 95%;
    height: 0.063rem; /*1px*/
    margin: 1.25rem; /*20px*/
    object-fit: cover;
}

.createPostHr {
    width: 100%;
    margin: 1.25rem 0; /*20px 0*/
    border: none;
    height: 0.063rem; /*1px*/
    background-size: cover;
}

.createPostImages-container {
    display: flex;
    flex-direction: column;
    max-height: 15.625rem; /*250px*/
    overflow-y: auto;
}

.createPostImageContainer {
    position: relative;
    margin-top: 0.625rem; /*10px*/
}

.createPostImageContainer.top {
    margin-top: 0;
}

.createPostImg {
    width: 100%;
    position: relative;
    object-fit: cover;
    opacity: 0.3;
}

.createPostCancelImgPNGBtn {
    height: 1.25rem; /*20px*/
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;  
}

.createPostCancelImgSVGBtn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
   
}

.createPostBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.createPostOptions {
    display: flex;
    flex-direction: row;
    height: 2.25rem; /*36px*/
    max-width: 6.25rem; /*100px*/
    overflow: visible;
}

.createPostOption {
    display: flex;
    align-items: center;
    margin-right: 0.938rem; /*15px*/
    cursor: pointer;
}

.createPostAddPhotoSVGIcon {
    font-size: 2.25rem !important; /*36px*/
    color: #7a7e80;
}

.createPostAddPhotoPNGIcon {
    width: 2.25rem; /*36px*/
}

.createPostCancelButton {
    border: none;
    padding: 0.438rem; /*7px*/
    border-radius: 0.313rem; /*5px*/
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
}

.createPostShareButtonBackground {
    border: none;
    border-radius: 0.625rem; /*10px*/
    font-weight: 500;
    cursor: pointer;
    height: 2.25rem; /*36px*/
}

.createPostShareButtonBackground.disabled {
    opacity: 0.3;
}

.createPostShareButtonBackground.masculine {
    background-color: #4a76fd;
}

.createPostShareButtonBackground.feminine {
    background-color: #e639af;
}

.createPostShareButtonBackground.ruby {
    background-color: #850014;
}

.createPostShareButtonBackground.orange {
    background-color: #ff8303;
}

.createPostShareButtonBackground.sun {
    background-color: #ffe700;
}

.createPostShareButtonBackground.emerald {
    background-color: #50c878;
}

.createPostShareButtonBackground.blue {
    background-color: #098de9;
}

.createPostShareButtonBackground.indigo {
    background-color: #30307e;
}

.createPostShareButtonBackground.violet {
    background-color: #8a2be2;
}

.createPostShareButtonBackground.rainbow {
    background: -webkit-linear-gradient(left, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* Standard syntax (must be last) */
}

.createPostShareButtonBackground.rainbow:active {
    background: -webkit-linear-gradient(left, #5d000e, #b35c02, #b3a200, #388c54, #0663a4, #222258, #611e9f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #5d000e, #b35c02, #b3a200, #388c54, #0663a4, #222258, #611e9f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #5d000e, #b35c02, #b3a200, #388c54, #0663a4, #222258, #611e9f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #5d000e, #b35c02, #b3a200, #388c54, #0663a4, #222258, #611e9f); /* Standard syntax (must be last) */
}

.createPostShareButtonBackground.silver {
    background: -webkit-linear-gradient(left, #dadada, #8e8e8e, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dadada, #8e8e8e, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dadada, #8e8e8e, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dadada, #8e8e8e, #dadada); /* Standard syntax (must be last) */
}

.createPostShareButtonBackground.silver:active {
    background: -webkit-linear-gradient(left, #999999, #646464 , #999999); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #999999, #646464 , #999999); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #999999, #646464 , #999999); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #999999, #646464 , #999999); /* Standard syntax (must be last) */
}

.createPostShareButtonBackground.gold {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
}

.createPostShareButtonBackground.gold:active {
    background: -webkit-linear-gradient(left, #785414, #a79346 , #785414); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #785414, #a79346 , #785414); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #785414, #a79346 , #785414); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #785414, #a79346 , #785414); /* Standard syntax (must be last) */
}

.createPostShareButtonBackground.platinum{
    background: -webkit-linear-gradient(left, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a, #af9499, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a, #af9499, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a, #af9499, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a, #af9499, #dadada); /* Standard syntax (must be last) */
}

.createPostShareButtonBackground.platinum:active {
    background: -webkit-linear-gradient(left, #94a4ad, #4b6269, #3c4448, #646464, #4d434a, #7b686b, #999999); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #94a4ad, #4b6269, #3c4448, #646464, #4d434a, #7b686b, #999999); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #94a4ad, #4b6269, #3c4448, #646464, #4d434a, #7b686b, #999999); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #94a4ad, #4b6269, #3c4448, #646464, #4d434a, #7b686b, #999999); /* Standard syntax (must be last) */
}

.createPostShareButton {
    border: none;
    border-radius: 0.625rem; /*10px*/
    font-weight: 500;
    cursor: pointer;
    padding: 0 1.563rem; /*25px*/
    height: 2.25rem; /*36px*/
    font-size: 1.5rem; /*24px*/
    color: white;
    background: transparent;
}

.createPostShareButton.masculine {
    background-color: #4a76fd;
}

.createPostShareButton.masculine:hover {
    color: #d8e1fe;
}

.createPostShareButton.masculine:active {
    background-color: #3453b2;
    color: #c3cbe5;
}

.createPostShareButton.feminine {
    background-color: #e639af;
}

.createPostShareButton.feminine:hover {
    color: #fde1ef;
}

.createPostShareButton.feminine:active {
    background-color: #a1287b;
    color: #e4cbd8;
}

.createPostShareButton.ruby {
    background-color: #850014; 
}

.createPostShareButton.ruby:hover {
    color: #d4a6ad;
}

.createPostShareButton.ruby:active {
    background-color: #5d000e;
    color: #be959b;
}

.createPostShareButton.orange { 
    background-color: #ff8303; 
}

.createPostShareButton.orange:hover {
    color: #ffdab3;
}

.createPostShareButton.orange:active {
    background-color: #b35c02;
    color: #e6c1ac;
}

.createPostShareButton.sun {
    background-color: #ffe700; 
}

.createPostShareButton.sun:hover {
    color: #fff9bf;
}

.createPostShareButton.sun:active {
    background-color: #b3a200;
    color: #e6e1ac;
}

.createPostShareButton.emerald { 
    background-color: #50c878; 
}

.createPostShareButton.emerald:hover {
    color: #caeed6;
}

.createPostShareButton.emerald:active {
    background-color: #388c54;
    color: #b6d7c1;
}

.createPostShareButton.blue {
    background-color: #098de9;
}

.createPostShareButton.blue:hover {
    color: #cee8fb;
}

.createPostShareButton.blue:active {
    background-color: #0663a4;
    color: #bad1e2;
}

.createPostShareButton.indigo { 
    background-color: #30307e; 
}

.createPostShareButton.indigo:hover {
    color: #babad4;
}

.createPostShareButton.indigo:active {
    background-color: #222258;
    color: #a8a8bf;
}

.createPostShareButton.violet { 
    background-color: #8a2be2; 
}

.createPostShareButton.violet:hover {
    color: #dcbff6;
}

.createPostShareButton.violet:active {
    background-color: #611e9f;
    color: #c6acde;
}

.createPostShareButton.rainbow,
.createPostShareButton.silver,
.createPostShareButton.gold,
.createPostShareButton.platinum {
    background: transparent;
    color: white;
}

.createPostShareButton.rainbow:hover {
    background: -webkit-linear-gradient(right, #d4a6ad, #ffdab3, #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d4a6ad, #ffdab3, #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d4a6ad, #ffdab3, #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d4a6ad, #ffdab3, #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.createPostShareButton.rainbow:active {
    background: -webkit-linear-gradient(right, #be959b, #e6c5a1, #e6e1ac, #b6d7c1, #bad1e2, #a8a8bf, #c6acde); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #be959b, #e6c5a1, #e6e1ac, #b6d7c1, #bad1e2, #a8a8bf, #c6acde); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #be959b, #e6c5a1, #e6e1ac, #b6d7c1, #bad1e2, #a8a8bf, #c6acde); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #be959b, #e6c5a1, #e6e1ac, #b6d7c1, #bad1e2, #a8a8bf, #c6acde); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.createPostShareButton.silver:hover {
    background: -webkit-linear-gradient(left, #f4f4f4, #dddddd, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f4f4f4, #dddddd, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f4f4f4, #dddddd, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #f4f4f4, #dddddd, #f4f4f4); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.createPostShareButton.silver:active {
    background: -webkit-linear-gradient(left, #dcdcdc, #c7c7c7 , #dcdcdc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dcdcdc, #c7c7c7 , #dcdcdc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dcdcdc, #c7c7c7 , #dcdcdc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #dcdcdc, #c7c7c7 , #dcdcdc); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.createPostShareButton.gold:hover {
    background: -webkit-linear-gradient(left, #e6d6bb , #faf1d0, #e6d6bb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e6d6bb , #faf1d0, #e6d6bb); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.createPostShareButton.gold:active {
    background: -webkit-linear-gradient(left, #cfc1a9, #e1d9bc , #cfc1a9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #cfc1a9, #e1d9bc , #cfc1a9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #cfc1a9, #e1d9bc , #cfc1a9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #cfc1a9, #e1d9bc , #cfc1a9); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.createPostShareButton.platinum:hover {
    background: -webkit-linear-gradient(left, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2, #e7dfe0, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2, #e7dfe0, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2, #e7dfe0, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2, #e7dfe0, #f4f4f4); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.createPostShareButton.platinum:active {
    background: -webkit-linear-gradient(left, #dae0e3, #bdc6c9, #b8bbbd, #c7c7c7, #bebbbd, #d0c9ca, #dcdcdc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dae0e3, #bdc6c9, #b8bbbd, #c7c7c7, #bebbbd, #d0c9ca, #dcdcdc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dae0e3, #bdc6c9, #b8bbbd, #c7c7c7, #bebbbd, #d0c9ca, #dcdcdc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dae0e3, #bdc6c9, #b8bbbd, #c7c7c7, #bebbbd, #d0c9ca, #dcdcdc); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.createPostShareButton.diamond {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.createPostShareButton.diamond:active {
    background: -webkit-linear-gradient(left, #785414, #a79346 , #785414); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #785414, #a79346 , #785414); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #785414, #a79346 , #785414); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #785414, #a79346 , #785414); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.createPostShareButton.gray {
    background-color: #bfc2c7;
    color: black;
}


.EmojiPickerReact.epr-main {
    /*width: 610px !important;*/
    /*height: 256px !important;*/
    width: 100% !important;
    height: 100% !important;
    border-radius: 20px !important;
    overflow: hidden;
    border: none !important;
    top: 0px !important;
    --epr-hover-bg-color: none;
    --epr-focus-bg-color: none;
    --epr-search-input-bg-color: transparent;
    --epr-search-border-color: none;
    --epr-picker-border-radius: 10px;
}

.emojiSearchBackgroundTheme {
    position: absolute;
    border-radius: 10px;
    width: 522px;
    height: 48px;
}

.emojiSearchBackgroundTheme.rainbow {
    background: -webkit-linear-gradient(left, #d4a6ad, #ffdab3, #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d4a6ad, #ffdab3, #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d4a6ad, #ffdab3, #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d4a6ad, #ffdab3, #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* Standard syntax (must be last) */
}

.emojiSearchBackgroundTheme.diamond {
    background-image: url('../../../Assets/misc/diamond-background-lgt.jpg');
    background-size: cover;
}

.emojiSearchWhiteBackground {
    position: absolute;
    margin: 24px 30px;
    width: calc(100% - 60px);
    height: 0px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background-color: white;
    -webkit-box-shadow: 0px 0px 30px 30px white; 
    box-shadow: 0px 0px 30px 30px white;
}

.cpPickerBtn {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 2.25rem; /*36px*/
    width: 2.25rem; /*36px*/
    cursor: pointer;
    margin-right: 0.938rem; /*15px*/
}

.cpPickerContainer {
    position: absolute;
    width: 37.875rem; /*606px*/
    overflow: hidden;
    left: 0.125rem; /*2px*/
    bottom: 0.125rem; /*2px*/
    transition: height 325ms cubic-bezier(0.43,-0.35, 0.14, 1.35);
    z-index: 1;
    border-radius: 0.938rem; /*15px*/
}

.cpMentionContainer {
    position: absolute;
}