.quillTextEditorContainer {
    position: relative;
}

.quillEditor {
    position: absolute;
}

.quillTextEditorPlaceholder {
    position: absolute;
    top: 1px;
    left: 0;
    color: #7a7e80;
}

.phRequirementText {
    font-size: 12px;
    color: #aeb4b7;
}

.quillEditor.ql-container.ql-snow {
    z-index: 1;
    border: none;
    width: 100%;
    font-size: 14px;
}

.ql-container {
    border: none;
}

.ql-snow .ql-color-picker .ql-picker-options {
    width: 94px !important;
}

.quill-editor iframe {
    pointer-events: none;
}

.ql-video-wrapper {
    width: 80%;
    margin: auto;
}
 
.ql-video-inner {
    padding-top:56.25%;
    position:relative;
    height:0;
}
 
.ql-video-inner iframe,
.ql-video-inner object,
.ql-video-inner embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.quill {
    border: none;
}


.ql-container.ql-snow {
    
    border: none;
    width: 100%;
}

.ql-editor {
    padding: 2px 0 !important;
    min-height: 18px;
    width: calc(100% - 20px);
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.ql-editor::-webkit-scrollbar {
    display: none;
}

.ql-mention-list-container {
    border-radius: 20px;
    border: none;
    z-index: 999; 
}

.ql-mention-list-container.highSpectrum {
    background-color: transparent;  
}

/*
.ql-mention-list-container {
    border-radius: 20px;
    border: none;
    position: relative;
    background-color: white;
}
*/
.mentionContainerWhiteBackground {
    position: absolute;
    border-radius: 20px;
    background-color: white;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    top: 4px;
    left: 4px;
    z-index: -1;
}

.mentionContainerBoxShadow {
    position: absolute;
    height: 56px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    top: 4px;
    left: 4px;
    border-radius: 20px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.7;
    z-index: -2;
}



.ql-editor a {
    text-decoration: none !important;
    font-weight: 500;
}

.ql-mention-list {
    max-height: 240px;
    overflow: hidden;
}

.ql-mention-list.highSpectrum {
    margin: 8px;
}

.ql-mention-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px;
    padding:  0;
    height: 36px;
    font-size: 12px;
}

.ql-mention-list-item:hover, .ql-mention-list-item.selected {
    background-color: transparent;
}



.mentionItem {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px;
    padding:  0;
    height: 36px;
    cursor: pointer;
}

.mentionItem:hover {
    width: 100%;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mentionItem.img {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 230px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-repeat: repeat-y;
}

.mentionItem.img.front {
    z-index: 3;
    background-color: transparent;
}

.mentionItem.img.behind {
    opacity: 0;
}

.mentionItem.img.front:hover .behind {
    opacity: 1;
}

.mentionItem.masculine:hover {
    background-color: #d8e1fe;
}

.mentionItem.feminine:hover {
    background-color: #fde1e7;
}

.mentionItem.ruby:hover {
    background-color: #d4a6ad;
}

.mentionItem.orange:hover {
    background-color: #ffdab3;
}

.mentionItem.sun:hover {
    background-color: #fff9bf;
}

.mentionItem.emerald:hover {
    background-color: #caeed6;
}

.mentionItem.blue:hover {
    background-color: #cee8fb;
}

.mentionItem.indigo:hover {
    background-color: #babad4;
}

.mentionItem.violet:hover {
    background-color: #dcbff6;
}

.mentionItem.rainbow:hover {
    background: -webkit-linear-gradient(left, #d4a6ad, #ffdab3 , #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d4a6ad, #ffdab3 , #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d4a6ad, #ffdab3 , #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d4a6ad, #ffdab3 , #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* Standard syntax (must be last) */
}

.mentionItem.silver:hover {
    background: -webkit-linear-gradient(left, #f4f4f4 , #dddddd, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f4f4f4 , #dddddd, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f4f4f4 , #dddddd, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f4f4f4 , #dddddd, #f4f4f4); /* Standard syntax (must be last) */
}

.mentionItem.gold:hover {
    background: -webkit-linear-gradient(left, #e6d6bb , #faf1d0, #e6d6bb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e6d6bb , #faf1d0, #e6d6bb); /* Standard syntax (must be last) */
}

.mentionItem.platinum:hover {
    background: -webkit-linear-gradient(left, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2,  #e7dfe0, #f4f4f4); /* Standard syntax (must be last) */
}

.mentionItem.grey:hover {
    background-color: #e4e6e7;
}

.mention {
    background-color: transparent;
    font-size: 15px;
}

.mention:hover, .mention a:hover {
    font-weight: 700;
}

.mentionLink.masculine {
    color: #4a76fd;
}

.mentionLink.feminine {
    color: #e639af;
}

.mentionLink.ruby {
    color: #850014;
}

.mentionLink.orange {
    color: #ff8303;
}

.mentionLink.sun {
    color: #ffe700;
}

.mentionLink.emerald {
    color: #50c878;
}

.mentionLink.blue {
    color: #098de9;
}

.mentionLink.indigo {
    color: #30307e;
}

.mentionLink.violet {
    color: #8a2be2;
}

.mentionLink.rainbow {
    background: -webkit-linear-gradient(left, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mentionLink.silver {
    background: -webkit-linear-gradient(left, #dadada, #8e8e8e, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dadada, #8e8e8e, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dadada, #8e8e8e, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dadada, #8e8e8e, #dadada); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mentionLink.gold {
    background: -webkit-linear-gradient(left, #ab781d, #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d, #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d, #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d, #eed264, #ab781d); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mentionLink.platinum {
    background: -webkit-linear-gradient(left, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a, #af9499, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a, #af9499, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a, #af9499, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a, #af9499, #dadada); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mentionLink.diamond {
    background: -webkit-linear-gradient(-15deg, white,#314373, #314373, #7b9ebe, #7b9ebe, #dadada, #faf1d0, #dadada, #7b9ebe, #7b9ebe, #314373, #314373, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-15deg, white,#314373, #314373, #7b9ebe, #7b9ebe, #dadada, #faf1d0, #dadada, #7b9ebe, #7b9ebe, #314373, #314373, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-15deg, white,#314373, #314373, #7b9ebe, #7b9ebe, #dadada, #faf1d0, #dadada, #7b9ebe, #7b9ebe, #314373, #314373, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-15deg, white,#314373, #314373, #7b9ebe, #7b9ebe, #dadada, #faf1d0, #dadada, #7b9ebe, #7b9ebe, #314373, #314373, white); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mentionLink.grey {
    color: #aeb4b7;
}




.mentionAvatar {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 3px;
    z-index: 2;
}

.mentionIcon {
    height: 24px;
    margin-right: 3px;
    z-index: 2;
}

.mentionText {
    z-index: 2;
}


.textarea-emoji-control {
    top: -2px;
    right: 0;
    height: 18px;
    width: 18px;
}


.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
    stroke: goldenrod;
    fill: goldenrod;
}

.ql-snow .ql-stroke {
    stroke: goldenrod;
}
/*
.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill  {
    stroke: #aeb4b7 !important;
}
*/

.emojiPNGIcon {
    margin-top: 5px;
    height: 18px;
    width: 18px;;
}

p {
    margin: 0;
}

