.createSharePortal {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
}

.createShareBackdropOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.createShareModal {
    position: fixed;
    top: 0;
    left: 15%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createShare {
    width: 630px;
    border-radius: 40px;
    background-color: white;
    padding: 20px;
    top: 2px;
    left: 2px;
    position: relative;
    opacity: 1;
    -webkit-box-shadow: 0px 10px 50px -20px rgba(0,0,0,0.75); 
    box-shadow: 0px 10px 50px -20px rgba(0,0,0,0.75);
}

.createShare.union {
    position: absolute;
}

.createShare.flame {
    margin-bottom: 30px;
}



.createShare-container {
    padding: 10px;
}

.createShareTop {
    display: flex;
    flex-direction: column;
}

.createShareTopUpper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.createShareLogo {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 27px;
}

.creatPostTitle {
    font-size: 28px;
    font-weight: 900;
}

.createShareCancelPNGIcon {
    height: 36px;
    width: 36px;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: -5px;
    margin-bottom: -2px;
}

.createShareCancelSVGIcon {
    font-size: 36px !important;
    margin-right: -5px;
    margin-bottom: -2px;
}

.createShareCancelSVGIcon.masculine {
    color: #d8e1fe;
}

.createShareCancelSVGIcon.masculine:hover {
    color: #4a76fd;
}

.createShareCancelSVGIcon.masculine:active {
    color: #3453b2;
}

.createShareCancelSVGIcon.feminine {
    color: #fde1ef;
}

.createShareCancelSVGIcon.feminine:hover {
    color: #e639af;
}

.createShareCancelSVGIcon.feminine:active {
    color: #a1287b;
}

.createShareCancelSVGIcon.ruby {
    color: #d4a6ad;
}

.createShareCancelSVGIcon.ruby:hover {
    color: #850014;
}

.createShareCancelSVGIcon.ruby:active {
    color: #5d000e;
}

.createShareCancelSVGIcon.orange {
    color: #ffdab3;
}

.createShareCancelSVGIcon.orange:hover {
    color: #ff8303;
}

.createShareCancelSVGIcon.orange:active {
    color: #b35c02;
}

.createShareCancelSVGIcon.sun {
    color: #fff9bf;
}

.createShareCancelSVGIcon.sun:hover {
    color: #ffe700;
}

.createShareCancelSVGIcon.sun:active {
    color: #b3a200;
}

.createShareCancelSVGIcon.emerald {
    color: #caeed6;
}

.createShareCancelSVGIcon.emerald:hover {
    color: #50c878;
}

.createShareCancelSVGIcon.emerald:active {
    color: #388c54;
}

.createShareCancelSVGIcon.blue {
    color: #cee8fb;
}

.createShareCancelSVGIcon.blue:hover {
    color: #098de9;
}

.createShareCancelSVGIcon.blue:active {
    color: #0663a4;
}

.createShareCancelSVGIcon.indigo {
    color: #babad4;
}

.createShareCancelSVGIcon.indigo:hover {
    color: #30307e;
}

.createShareCancelSVGIcon.indigo:active {
    color: #222258;
}

.createShareCancelSVGIcon.violet {
    color: #dcbff6;
}

.createShareCancelSVGIcon.violet:hover {
    color: #8a2be2;
}

.createShareCancelSVGIcon.violet:active {
    color: #611e9f;
}

.createShareCancelSVGIcon.gray {
    color: #e4e6e7;
}

.createShareCancelSVGIcon.gray:hover {
    color: #aeb4b7;
}

.createShareCancelSVGIcon.gray:active {
    color: #7a7e80;
}

.createShareTopLower {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.createShareDropdownBtns {
    display: flex;
    flex-direction: row;
}

.createShareDropdownBtn {
    display: flex;
    align-items: center;
    height: 36px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-left: 20px;
    background-size: cover;
}

.createShareDropdownBtn.masculine {
    background-color: #4a76fd;
}

.createShareDropdownBtn.feminine {
    background-color: #e639af;
}

.createShareDropdownBtn.ruby {
    background-color: #850014;
}

.createShareDropdownBtn.orange {
    background-color: #ff8303;
}

.createShareDropdownBtn.sun {
    background-color: #ffe700;
}

.createShareDropdownBtn.emerald {
    background-color: #50c878;
}

.createShareDropdownBtn.blue {
    background-color: #098de9;
}

.createShareDropdownBtn.indigo {
    background-color: #30307e;
}

.createShareDropdownBtn.violet {
    background-color: #8a2be2;
}

.createShareDropdownBtn.rainbow {
    background: -webkit-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* Standard syntax (must be last) */
}

.createShareDropdownBtn.silver {
    background: -webkit-linear-gradient(left, #dadada , #8e8e8e, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dadada , #8e8e8e, #dadada); /* Standard syntax (must be last) */
}

.createShareDropdownBtn.gold {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
}

.createShareDropdownBtn.platinum {
    background: -webkit-linear-gradient(left, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* Standard syntax (must be last) */
}

.createShareDropdownBtn.gray {
    background-color: #aeb4b7;
}

.createShareVisibilityIcon {
    display: flex;
    align-items: center;
    font-size: 20px !important;
    margin: 0 5px;
}

.createShareVisibilityIcon.diamond {
    color: #ab781d;
}

.createShareDropdownTitle {
    font-size: 14px;
    font-weight: 500;
}

.createShareDropdownTitle.feed {
    margin-left: 5px;
}


.createShareDropdownTitle.feed.diamond {
    background: -webkit-linear-gradient(left, #ab781d , #ab781d, #eed264, #eed264, #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #ab781d, #eed264, #eed264, #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #ab781d, #eed264, #eed264, #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #ab781d, #eed264, #eed264, #eed264, #ab781d); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.createShareDropdownTitle.visibility.diamond {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #eed264, #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #eed264, #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #eed264, #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #eed264, #eed264, #ab781d); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.createShareDropdownIcon {
    font-size: 30px !important;
    margin-right: -2px;
}

.createShareDropdownIcon.diamond {
    color: #ab781d;
}

.createShareCenter {
    margin-bottom: 20px;
}

.createShareEditorContainerContainer {
    position: relative;
    width: 610px;
    height: 254px;
    border-radius: 20px; 
}

.createShareEditorContainerContainer.editor {
    position: relative;
    margin: 20px 0;
}

.createShareEditorContainerContainer.imgDZ {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transition: height 325ms cubic-bezier(0.43,-0.35, 0.14, 1.35);
}

.createShareHigherSpectrumBackground {
    position: absolute;
    width: 100%;
    height: 256px;
    border-radius: 20px;
    top: 0;
    left: 0;
    transition: height 325ms cubic-bezier(0.43,-0.35, 0.14, 1.35);
    background-size: 100% 256px;
    opacity: 30%;
}

.createShareWhiteBackground {
    position: absolute;
    margin: 50px;
    width: calc(100% - 100px);
    height: 154px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background-color: white;
    -webkit-box-shadow: 0px 0px 30px 50px white; 
    box-shadow: 0px 0px 30px 50px white;
}

.createShareEditor {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 44px);
    height: 214px;
    max-height: 254px;
    padding:  20px 19px 20px 25px;
    font-size: 14px;
    border-radius: 20px;
    overflow: hidden;
}

.createShareEditorContainer {
    height: 100%;
    overflow-y: auto;
    overflow: hidden;
}

.createShareHashtagEditor {
    width: 100%;
    padding-right: 20px;
}

.createShareFlareDisplayContainer {
    margin: 4px;
}

/*
div.public-DraftEditorPlaceholder-inner {
    font-size: 12px;
}
*/

.createShareInput {
    border: none;
    width: 80%;
    white-space: pre-wrap;
}

.createShareInput:focus {
    outline: none;
}

.createShareHr {
    width: 100%;
    margin: 20px 0;
    border: none;
    height: 1px;
    background-size: cover;
}

.createShareHr.masculine {
    background-color: #4a76fd;
}

.createShareHr.feminine {
    background-color: #e639af;
}

.createShareHr.ruby {
    background-color: #850014;   
}

.createShareHr.orange { 
    background-color: #ff8303; 
}

.createShareHr.sun {
    background-color: #ffe700;  
}

.createShareHr.emerald { 
    background-color: #50c878; 
}

.createShareHr.blue {
    background-color: #098de9; 
}

.createShareHr.indigo { 
    background-color: #30307e; 
}

.createShareHr.violet { 
    background-color: #8a2be2; 
}

.createShareHr.rainbow {
    background: -webkit-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* Standard syntax (must be last) */
}

.createShareHr.silver {
    background: -webkit-linear-gradient(left, #dadada , #8e8e8e, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dadada , #8e8e8e, #dadada); /* Standard syntax (must be last) */
}

.createShareHr.gold {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
}

.createShareHr.platinum {
    background: -webkit-linear-gradient(left, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* Standard syntax (must be last) */
}

.createShareHr.gray {
    background-color: #aeb4b7;
}

.createShareImages-container {
    display: flex;
    flex-direction: column;
    max-height: 250px;
}

.createShareImageContainer {
    position: relative;
    margin-top: 10px;
}

.createShareImageContainer.top {
    margin-top: 0;
}

.createShareImg {
    width: 100%;
    position: relative;
    object-fit: cover;
    opacity: 0.3;
}

.createShareCancelImgPNGBtn {
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
   
}

.createShareCancelImgSVGBtn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
   
}

.createShareCancelImgSVGBtn.masculine {
    color: #4a76fd;
}

.createShareCancelImgSVGBtn.feminine {
    color: #e639af;
}

.createShareCancelImgSVGBtn.ruby {
    color: #850014;
}

.createShareCancelImgSVGBtn.orange {
    color: #ff8303;
}

.createShareCancelImgSVGBtn.sun {
    color: #ffe700;
}

.createShareCancelImgSVGBtn.emerald {
    color: #50c878;
}

.createShareCancelImgSVGBtn.blue {
    color: #098de9;
}

.createShareCancelImgSVGBtn.indigo {
    color: #30307e;
}

.createShareCancelImgSVGBtn.violet {
    color: #8a2be2;
}

.createShareCancelImgSVGBtn.gray {
    color: #aeb4b7;
}

.createShareBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: visible;
}

.createShareOptions {
    display: flex;
    flex-direction: row;
    height: 36px;
    max-width: 100px;
    overflow: visible;
}

.createShareOption {
    display: flex;
    align-items: center;
    margin-right: 15px;
    max-width: 36px;
    cursor: pointer;
}

.createShareCancelButton {
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
}

.createShareShareButtonBackground {
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    width: 120px;
    height: 36px;
    background-size: cover;
}

.createShareShareButtonBackground.disabled {
    opacity: 0.3;
}

.createShareShareButtonBackground.masculine {
    background-color: #4a76fd;
}

.createShareShareButtonBackground.feminine {
    background-color: #e639af;
}

.createShareShareButtonBackground.ruby {
    background-color: #850014;
}

.createShareShareButtonBackground.orange {
    background-color: #ff8303;
}

.createShareShareButtonBackground.sun {
    background-color: #ffe700;
}

.createShareShareButtonBackground.emerald {
    background-color: #50c878;
}

.createShareShareButtonBackground.blue {
    background-color: #098de9;
}

.createShareShareButtonBackground.indigo {
    background-color: #30307e;
}

.createShareShareButtonBackground.violet {
    background-color: #8a2be2;
}

.createShareShareButtonBackground.rainbow {
    background: -webkit-linear-gradient(left, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* Standard syntax (must be last) */
}

.createShareShareButtonBackground.rainbow:active {
    background: -webkit-linear-gradient(left, #5d000e, #b35c02, #b3a200, #388c54, #0663a4, #222258, #611e9f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #5d000e, #b35c02, #b3a200, #388c54, #0663a4, #222258, #611e9f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #5d000e, #b35c02, #b3a200, #388c54, #0663a4, #222258, #611e9f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #5d000e, #b35c02, #b3a200, #388c54, #0663a4, #222258, #611e9f); /* Standard syntax (must be last) */
}

.createShareShareButtonBackground.silver {
    background: -webkit-linear-gradient(left, #dadada, #8e8e8e, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dadada, #8e8e8e, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dadada, #8e8e8e, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dadada, #8e8e8e, #dadada); /* Standard syntax (must be last) */
}

.createShareShareButtonBackground.silver:active {
    background: -webkit-linear-gradient(left, #999999, #646464 , #999999); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #999999, #646464 , #999999); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #999999, #646464 , #999999); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #999999, #646464 , #999999); /* Standard syntax (must be last) */
}

.createShareShareButtonBackground.gold {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
}

.createShareShareButtonBackground.gold:active {
    background: -webkit-linear-gradient(left, #785414, #a79346 , #785414); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #785414, #a79346 , #785414); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #785414, #a79346 , #785414); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #785414, #a79346 , #785414); /* Standard syntax (must be last) */
}

.createShareShareButtonBackground.platinum{
    background: -webkit-linear-gradient(left, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a, #af9499, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a, #af9499, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a, #af9499, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a, #af9499, #dadada); /* Standard syntax (must be last) */
}

.createShareShareButtonBackground.platinum:active {
    background: -webkit-linear-gradient(left, #94a4ad, #4b6269, #3c4448, #646464, #4d434a, #7b686b, #999999); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #94a4ad, #4b6269, #3c4448, #646464, #4d434a, #7b686b, #999999); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #94a4ad, #4b6269, #3c4448, #646464, #4d434a, #7b686b, #999999); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #94a4ad, #4b6269, #3c4448, #646464, #4d434a, #7b686b, #999999); /* Standard syntax (must be last) */
}

.createShareShareButton {
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    width: 120px;
    height: 36px;
    font-size: 24px;
    color: white;
    background: transparent;
}

.createShareShareButton.masculine {
    background-color: #4a76fd;
}

.createShareShareButton.masculine:hover {
    color: #d8e1fe;
}

.createShareShareButton.masculine:active {
    background-color: #3453b2;
    color: #c3cbe5;
}

.createShareShareButton.feminine {
    background-color: #e639af;
}

.createShareShareButton.feminine:hover {
    color: #fde1ef;
}

.createShareShareButton.feminine:active {
    background-color: #a1287b;
    color: #e4cbd8;
}

.createShareShareButton.ruby {
    background-color: #850014; 
}

.createShareShareButton.ruby:hover {
    color: #d4a6ad;
}

.createShareShareButton.ruby:active {
    background-color: #5d000e;
    color: #be959b;
}

.createShareShareButton.orange { 
    background-color: #ff8303; 
}

.createShareShareButton.orange:hover {
    color: #ffdab3;
}

.createShareShareButton.orange:active {
    background-color: #b35c02;
    color: #e6c1ac;
}

.createShareShareButton.sun {
    background-color: #ffe700; 
}

.createShareShareButton.sun:hover {
    color: #fff9bf;
}

.createShareShareButton.sun:active {
    background-color: #b3a200;
    color: #e6e1ac;
}

.createShareShareButton.emerald { 
    background-color: #50c878; 
}

.createShareShareButton.emerald:hover {
    color: #caeed6;
}

.createShareShareButton.emerald:active {
    background-color: #388c54;
    color: #b6d7c1;
}

.createShareShareButton.blue {
    background-color: #098de9;
}

.createShareShareButton.blue:hover {
    color: #cee8fb;
}

.createShareShareButton.blue:active {
    background-color: #0663a4;
    color: #bad1e2;
}

.createShareShareButton.indigo { 
    background-color: #30307e; 
}

.createShareShareButton.indigo:hover {
    color: #babad4;
}

.createShareShareButton.indigo:active {
    background-color: #222258;
    color: #a8a8bf;
}

.createShareShareButton.violet { 
    background-color: #8a2be2; 
}

.createShareShareButton.violet:hover {
    color: #dcbff6;
}

.createShareShareButton.violet:active {
    background-color: #611e9f;
    color: #c6acde;
}

.createShareShareButton.rainbow,
.createShareShareButton.silver,
.createShareShareButton.gold,
.createShareShareButton.platinum {
    background: transparent;
    color: white;
}

.createShareShareButton.rainbow:hover {
    background: -webkit-linear-gradient(right, #d4a6ad, #ffdab3, #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d4a6ad, #ffdab3, #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d4a6ad, #ffdab3, #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d4a6ad, #ffdab3, #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.createShareShareButton.rainbow:active {
    background: -webkit-linear-gradient(right, #be959b, #e6c5a1, #e6e1ac, #b6d7c1, #bad1e2, #a8a8bf, #c6acde); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #be959b, #e6c5a1, #e6e1ac, #b6d7c1, #bad1e2, #a8a8bf, #c6acde); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #be959b, #e6c5a1, #e6e1ac, #b6d7c1, #bad1e2, #a8a8bf, #c6acde); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #be959b, #e6c5a1, #e6e1ac, #b6d7c1, #bad1e2, #a8a8bf, #c6acde); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.createShareShareButton.silver:hover {
    background: -webkit-linear-gradient(left, #f4f4f4, #dddddd, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f4f4f4, #dddddd, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f4f4f4, #dddddd, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #f4f4f4, #dddddd, #f4f4f4); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.createShareShareButton.silver:active {
    background: -webkit-linear-gradient(left, #dcdcdc, #c7c7c7 , #dcdcdc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dcdcdc, #c7c7c7 , #dcdcdc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dcdcdc, #c7c7c7 , #dcdcdc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #dcdcdc, #c7c7c7 , #dcdcdc); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.createShareShareButton.gold:hover {
    background: -webkit-linear-gradient(left, #e6d6bb , #faf1d0, #e6d6bb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e6d6bb , #faf1d0, #e6d6bb); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.createShareShareButton.gold:active {
    background: -webkit-linear-gradient(left, #cfc1a9, #e1d9bc , #cfc1a9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #cfc1a9, #e1d9bc , #cfc1a9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #cfc1a9, #e1d9bc , #cfc1a9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #cfc1a9, #e1d9bc , #cfc1a9); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.createShareShareButton.platinum:hover {
    background: -webkit-linear-gradient(left, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2, #e7dfe0, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2, #e7dfe0, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2, #e7dfe0, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2, #e7dfe0, #f4f4f4); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.createShareShareButton.platinum:active {
    background: -webkit-linear-gradient(left, #dae0e3, #bdc6c9, #b8bbbd, #c7c7c7, #bebbbd, #d0c9ca, #dcdcdc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dae0e3, #bdc6c9, #b8bbbd, #c7c7c7, #bebbbd, #d0c9ca, #dcdcdc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dae0e3, #bdc6c9, #b8bbbd, #c7c7c7, #bebbbd, #d0c9ca, #dcdcdc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dae0e3, #bdc6c9, #b8bbbd, #c7c7c7, #bebbbd, #d0c9ca, #dcdcdc); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.createShareShareButton.diamond {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.createShareShareButton.diamond.lgt {
    background: -webkit-linear-gradient(left, #e6d6bb, #faf1d0, #e6d6bb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e6d6bb, #faf1d0, #e6d6bb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e6d6bb, #faf1d0, #e6d6bb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e6d6bb, #faf1d0, #e6d6bb); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.createShareShareButton.diamond:hover {
    background: -webkit-linear-gradient(left, #785414, #a79346 , #785414); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #785414, #a79346 , #785414); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #785414, #a79346 , #785414); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #785414, #a79346 , #785414); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.createShareShareButton.diamond:active {
    background: -webkit-linear-gradient(left, #785414, #a79346 , #785414); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #785414, #a79346 , #785414); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #785414, #a79346 , #785414); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #785414, #a79346 , #785414); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.createShareShareButton.gray {
    background-color: #bfc2c7;
    color: black;
}

.createShareShareButton.lgt:hover {
    color: white;
}

.csEmojiPickerBtn {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    background-size: contain;
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    cursor: pointer;
    border-radius: 50%;
}