.mentionsEditor {
    height: 100%;
    width: 100%;
    background-color: white;
    padding-top: 10px;
}

.mentionsEditorTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.mentionsEditorInput {
    flex: 1;
    border: none;
    height: 48px;
    font-size: 14px;
    background-color: transparent;
    margin-left: 10px;
    padding-left: 20px;
    border-radius: 10px;
    outline: none;
    overflow: hidden;
}

.mentionsEditorCancelPNGIcon {
    height: 1.625rem; /*26px*/
    width: 1.625rem; /*26px*/
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 1.25rem; /*20px*/
    margin-bottom: -0.125rem; /*-2px*/
}

.mentionsEditorCancelSVGIcon {
    font-size: 1.95rem !important; /*31.2px*/
    margin: 0 0.625rem; /*0 10px*/
}

.mentionsEditorBottom {
    height: 186px;
    margin: 2px 0;
}

.mentionsEditorItem {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12px;
    height: 32px;
    cursor: pointer;
}

.mentionsEditorItem:hover {
    width: calc(100% - 20px);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mentionsEditorItem.masculine:hover {
    background-color: #d8e1fe;
}

.mentionsEditorItem.feminine:hover {
    background-color: #fde1e7;
}

.mentionsEditorItem.ruby:hover {
    background-color: #d4a6ad;
}

.mentionsEditorItem.orange:hover {
    background-color: #ffdab3;
}

.mentionsEditorItem.sun:hover {
    background-color: #fff9bf;
}

.mentionsEditorItem.emerald:hover {
    background-color: #caeed6;
}

.mentionsEditorItem.blue:hover {
    background-color: #cee8fb;
}

.mentionsEditorItem.indigo:hover {
    background-color: #babad4;
}

.mentionsEditorItem.violet:hover {
    background-color: #dcbff6;
}

.mentionsEditorItem.rainbow:hover {
    background: -webkit-linear-gradient(left, #d4a6ad, #ffdab3 , #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d4a6ad, #ffdab3 , #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d4a6ad, #ffdab3 , #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d4a6ad, #ffdab3 , #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* Standard syntax (must be last) */
}

.mentionsEditorItem.silver:hover {
    background: -webkit-linear-gradient(left, #f4f4f4 , #dddddd, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f4f4f4 , #dddddd, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f4f4f4 , #dddddd, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f4f4f4 , #dddddd, #f4f4f4); /* Standard syntax (must be last) */
}

.mentionsEditorItem.gold:hover {
    background: -webkit-linear-gradient(left, #e6d6bb , #faf1d0, #e6d6bb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e6d6bb , #faf1d0, #e6d6bb); /* Standard syntax (must be last) */
}

.mentionsEditorItem.platinum:hover {
    background: -webkit-linear-gradient(left, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2,  #e7dfe0, #f4f4f4); /* Standard syntax (must be last) */
}

.mentionsEditorItem.grey:hover {
    background-color: #e4e6e7;
}

.mentionsEditorAvatar {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}

.mentionsEditorIcon {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 3px;
    height: 20px;
}

.mentionsEditorIcon.flame {
    width: 14px;
}

.mentionsEditorIcon.union {
    width: 20px;
}

.mentionsEditorName {
    margin-right: 3px;
    white-space: nowrap;
}