


.aboutBanner {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 1.875rem;
    Margin: 3.125rem 0;
    display: flex;
    justify-content: center;
}

.about hr {
    width: 100% !important;
    height: .125rem !important;
    border: none;
}

.about-container {
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content: center;   
}

/*
.about-container {
    height: 100%;
    width: 100%; 
    border-radius: 1.25rem;
    -webkit-box-shadow: 0px 0px 1rem -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 1rem -8px rgba(0,0,0,0.68);
    background-color: white;
    display: flex;    
}
*/

.aboutNav-container {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.25rem .625rem 1.25rem;
}

.aboutNav {
    display: flex;
    flex-direction: column;
}

.aboutNavItem {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: .625rem;
    color: #bfc2c7;
    cursor: pointer;
}

.aboutNavItem.active {
    font-size: 1.875rem;
    font-weight: 900;
    pointer-events: none;
}

.aboutNavItem:hover {
    width: calc(100% + 15%);
    border-radius: .313rem;
    color: white;
}

.aboutNavItem.ruby.active {
    color: #850014;
}

.aboutNavItem.ruby:hover {
    background-color: #d4a6ad;
}

.aboutNavItem.orange.active {
    color: #ff8303;
}

.aboutNavItem.orange:hover {
    background-color: #ffdab3;
}

.aboutNavItem.sun.active {
    color: #ffe700;
}

.aboutNavItem.sun:hover {
    background-color: #fff9bf;
}

.aboutNavItem.emerald.active {
    color: #50c878;
}

.aboutNavItem.emerald:hover {
    background-color: #caeed6;
}

.aboutNavItem.blue.active {
    color: #098de9;
}

.aboutNavItem.blue:hover {
    background-color: #cee8fb;
}

.aboutNavItem.indigo.active {
    color: #30307e;
}

.aboutNavItem.indigo:hover {
    background-color: #babad4;
}

.aboutNavItem.violet.active {
    color: #8a2be2;
}

.aboutNavItem.violet:hover {
    background-color: #dcbff6;
}

.aboutNavItem.rainbow.active {
    background: -webkit-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutNavItem.rainbow:hover {
    background: -webkit-linear-gradient(left, #d4a6ad, #ffdab3 , #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d4a6ad, #ffdab3 , #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d4a6ad, #ffdab3 , #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d4a6ad, #ffdab3 , #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* Standard syntax (must be last) */
}

.aboutNavItem.silver.active {
    background: -webkit-linear-gradient(left, #dadada , #8e8e8e, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dadada , #8e8e8e, #dadada); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutNavItem.silver:hover {
    background: -webkit-linear-gradient(left, #f4f4f4 , #dddddd, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f4f4f4 , #dddddd, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f4f4f4 , #dddddd, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f4f4f4 , #dddddd, #f4f4f4); /* Standard syntax (must be last) */
}

.aboutNavItem.gold.active {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutNavItem.gold:hover {
    background: -webkit-linear-gradient(left, #e6d6bb , #faf1d0, #e6d6bb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e6d6bb , #faf1d0, #e6d6bb); /* Standard syntax (must be last) */
}

.aboutNavItem.platinum.active {
    background: -webkit-linear-gradient(left, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutNavItem.platinum:hover {
    background: -webkit-linear-gradient(left, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2,  #e7dfe0, #f4f4f4); /* Standard syntax (must be last) */
}

.aboutNavItem.gray.active {
    color: #aeb4b7;
}

.aboutNavItem.gray:hover {
    background-color: #e4e6e7;
}

.aboutNavDivider {
    height: calc(100% - 1.875rem);
    margin-bottom: .625rem;
}

.aboutNavDivider.ruby {
    border-right: .313rem solid #850014;
}

.aboutNavDivider.orange {
    border-right: .313rem solid #ff8303;
}

.aboutNavDivider.sun {
    border-right: .313rem solid #ffe700;
}

.aboutNavDivider.emerald {
    border-right: .313rem solid #50c878;
}

.aboutNavDivider.blue {
    border-right: .313rem solid #098de9;
}

.aboutNavDivider.indigo {
    border-right: .313rem solid #30307e;
}

.aboutNavDivider.violet {
    border-right: .313rem solid #8a2be2;
}

.aboutNavDivider.gray {
    border-right: .313rem solid #aeb4b7;
}

.aboutNavJPGDivider {
    height: calc(100% - 1.875rem);
    width: .313rem;
}

.aboutUnionInfo-container {
    display: flex;
    flex-direction: row;
    width: 65%;
    padding: 1.25rem 2.5rem .625rem 2.5rem;
}

.aboutUnionFlameInfo {
    width: 50%;
    margin-left: 5%;
}

.aboutUnionFlame {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 900;
    font-size: 2.125rem;
    margin-bottom:1.313rem;
}

.aboutUnionFlame.masculine {
    color: #4a76fd;
}

.aboutUnionFlame.feminine {
    color: #e639af;
}

.aboutUnionFlame.gray {
    color: #aeb4b7;
}

.aboutDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*
.aboutDetails {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1.25rem;
}
*/

.aboutDetail {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}

.aboutDetailItemKey {
    font-size: 1rem;
    font-weight: 500;
    margin-right: .625rem;
    color: #555;
}

/*
.aboutDetailItemValue {
    padding-top: 0px;
}
*/

.aboutDetailIcon {
    height: 1rem;
    margin-right: .313rem;
}

.aboutDetailItemValueText {
    color: #555;
}

.aboutDetailTF {
    display: flex;
    align-items: center;
    margin-bottom: 1.875rem;
}

.aboutDetailTFKey {
    font-size: 1.25rem;
    font-weight: 900;
    margin-right: .625rem;
}

.aboutDetailTFKey.masculine {
    color: #e639af;
}

.aboutDetailTFKey.feminine {
    color: #4a76fd;
}

.aboutDetailTFValue {
    cursor: pointer;
}

.aboutDetailTFLink {
    display: flex;
    align-items: center;
}

.aboutDetailTFPic {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    object-fit: cover;
}

.aboutDetailTFEnergy {
    height: 1.25rem;
    margin-left: .313rem;
    margin-bottom: .188rem;
}

.aboutDetailTFName {
    font-size: 18px;
    font-weight: 500;
    margin-left: .188rem;
}

.aboutHrBottom {
    margin-bottom: 3.75;
}

.aboutHrTop.ruby, .aboutHrBottom.ruby {
    background-color: #850014;
}

.aboutHrTop.orange, .aboutHrBottom.orange {
    background-color: #ff8303;
}

.aboutHrTop.sun, .aboutHrBottom.sun {
    background-color: #ffe700;
}

.aboutHrTop.emerald, .aboutHrBottom.emerald {
    background-color: #50c878;
}

.aboutHrTop.blue, .aboutHrBottom.blue {
    background-color: #098de9;
}

.aboutHrTop.indigo, .aboutHrBottom.indigo {
    background-color: #30307e;
}

.aboutHrTop.violet, .aboutHrBottom.violet {
    background-color: #8a2be2;
}

.aboutHrTop.rainbow, .aboutHrBottom.rainbow {
    background: -webkit-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* Standard syntax (must be last) */
}

.aboutHrTop.silver, .aboutHrBottom.silver {
    background: -webkit-linear-gradient(left, #dadada , #8e8e8e, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dadada , #8e8e8e, #dadada); /* Standard syntax (must be last) */
}

.aboutHrTop.gold, .aboutHrBottom.gold {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
}

.aboutHrTop.platinum, .aboutHrBottom.platinum {
    background: -webkit-linear-gradient(left, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* Standard syntax (must be last) */
}

.aboutHrTop.gray, .aboutHrBottom.gray {
    background-color: #aeb4b7;
}