.secondaryBackground {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: white;
    padding-top: 70px;
}

.SecondaryLeftMenuBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 25vw;
}

.SecondaryFeedBar {
    height: 100vh;
    width: 50vw;
}

.SecondaryRightMenuBar {
    height: 100vh;
    width: 25vw;
}