.avatarEditorPortal {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
}

.avatarEditorBackdropOverlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.avatarEditorModal {
    position: fixed;
    top: 30%;
    bottom: 30%;
    left: 30%;
    right: 30%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarEditor {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarEditorScreenContainer {
    position: fixed;
    z-index: 999;
    top: 15%;
    bottom: 40%;
    left: 25%;
    right: 30%;
    width: 40%;
    height: 20%;
}


.avatarEditorContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 800px;
    background-color: white;
    padding: 40px;
    border-radius: 60px;
    top: 20%;
}

.avatarEditorContainerCropper {
    display: flex;
    height: 400px;
    border-radius: 40px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.cropper {
    height: 50px;
}

.avatarEditorBlankAvatar {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.avatarEditorCancelButton {
    position: absolute;
    top: 50px;
    right: 60px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.avatarEditorContainerSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 20px 20% 0 20%;
}

.avatarEditorContainerBottom {
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
}

.avatarEditorContainerButton {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 10px;
    cursor: pointer;
}

.avatarEditorContainerButton.base {
    position: relative;
}

.avatarEditorContainerButton.font {
    position: absolute;
    top: 5px;
    left: -10px;
}

.avatarEditorContainerButton.ruby {
    background-color: #850014;
    color: white;
}

.avatarEditorContainerButton.ruby:hover {
    color: #d4a6ad;
}

.avatarEditorContainerButton.ruby:active {
    background-color: #5d000e;
    color: #be959b;
}

.avatarEditorContainerButton.orange {
    background-color: #ff8303;
    color: white;
}

.avatarEditorContainerButton.orange:hover {
    color: #ffdab3;
}

.avatarEditorContainerButton.orange:active {
    background-color: #b35c02;
    color: #e6c5a1;
}

.avatarEditorContainerButton.sun {
    background-color: #ffe700;
    color: white;
}

.avatarEditorContainerButton.sun:hover {
    color: #fff9bf;
}

.avatarEditorContainerButton.sun:active {
    background-color: #b3a200;
    color: #e6e1ac;
}

.avatarEditorContainerButton.emerald {
    background-color: #50c878;
    color: white;
}

.avatarEditorContainerButton.emerald:hover {
    color: #caeed6;
}

.avatarEditorContainerButton.emerald:active {
    background-color: #388c54;
    color: #b6d7c1;
}

.avatarEditorContainerButton.blue {
    background-color: #098de9;
    color: white;
}

.avatarEditorContainerButton.blue:hover {
    color: #cee8fb;
}

.avatarEditorContainerButton.blue:active {
    background-color: #0663a4;
    color: #bad1e2;
}

.avatarEditorContainerButton.indigo {
    background-color: #30307e;
    color: white;
}

.avatarEditorContainerButton.indigo:hover {
    color: #babad4;
}

.avatarEditorContainerButton.indigo:active {
    background-color: #222258;
    color: #a8a8bf;
}

.avatarEditorContainerButton.violet {
    background-color: #8a2be2;
    color: white;
}

.avatarEditorContainerButton.violet:hover {
    color: #dcbff6;
}

.avatarEditorContainerButton.violet:active {
    background-color: #611e9f;
    color: #c6acde;
}

.avatarEditorContainerButton.base.left.rainbow {
    background: -webkit-linear-gradient(left, #850014, #ff8303, #ffe700); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #850014, #ff8303, #ffe700); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #850014, #ff8303, #ffe700); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #850014, #ff8303, #ffe700); /* Standard syntax (must be last) */
}

.avatarEditorContainerButton.font.left.rainbow {
    color: white;
}

.avatarEditorContainerButton.font.left.rainbow:hover {
    background: -webkit-linear-gradient(left, #d4a6ad , #ffdab3, #fff9bf); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d4a6ad , #ffdab3, #fff9bf); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d4a6ad , #ffdab3, #fff9bf); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d4a6ad , #ffdab3, #fff9bf); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatarEditorContainerButton.base.left.rainbow:active {
    background: -webkit-linear-gradient(left, #5d000e, #b35c02, #b3a200); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #5d000e, #b35c02, #b3a200); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #5d000e, #b35c02, #b3a200); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #5d000e, #b35c02, #b3a200); /* Standard syntax (must be last) */
}

.avatarEditorContainerButton.font.left.rainbow:active {
    background: -webkit-linear-gradient(left, #be959b, #e6c5a1, #e6e1ac); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #be959b, #e6c5a1, #e6e1ac); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #be959b, #e6c5a1, #e6e1ac); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #be959b, #e6c5a1, #e6e1ac); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatarEditorContainerButton.base.middle.rainbow {
    background: -webkit-linear-gradient(left, #ffe700, #50c878, #098de9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ffe700, #50c878, #098de9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ffe700, #50c878, #098de9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ffe700, #50c878, #098de9); /* Standard syntax (must be last) */
}

.avatarEditorContainerButton.font.middle.rainbow {
    color: white;
}

.avatarEditorContainerButton.font.middle.rainbow:hover {
    background: -webkit-linear-gradient(left, #fff9bf, #caeed6, #cee8fb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #fff9bf, #caeed6, #cee8fb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #fff9bf, #caeed6, #cee8fb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #fff9bf, #caeed6, #cee8fb); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatarEditorContainerButton.base.middle.rainbow:active {
    background: -webkit-linear-gradient(left, #b3a200, #388c54, #0663a4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #b3a200, #388c54, #0663a4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #b3a200, #388c54, #0663a4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #b3a200, #388c54, #0663a4); /* Standard syntax (must be last) */
}

.avatarEditorContainerButton.font.middle.rainbow:active {
    background: -webkit-linear-gradient(left, #e6e1ac, #b6d7c1, #bad1e2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e6e1ac, #b6d7c1, #bad1e2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e6e1ac, #b6d7c1, #bad1e2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e6e1ac, #b6d7c1, #bad1e2); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatarEditorContainerButton.base.right.rainbow {
    background: -webkit-linear-gradient(left, #098de9, #30307e, #8a2be2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #098de9, #30307e, #8a2be2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #098de9, #30307e, #8a2be2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #098de9, #30307e, #8a2be2); /* Standard syntax (must be last) */
    color: white;
}

.avatarEditorContainerButton.font.right.rainbow {
    color: white;
}

.avatarEditorContainerButton.font.right.rainbow:hover {
    background: -webkit-linear-gradient(left, #cee8fb, #babad4, #dcbff6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #cee8fb, #babad4, #dcbff6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #cee8fb, #babad4, #dcbff6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #cee8fb, #babad4, #dcbff6); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatarEditorContainerButton.base.right.rainbow:active {
    background: -webkit-linear-gradient(left, #0663a4, #222258, #611e9f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #0663a4, #222258, #611e9f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #0663a4, #222258, #611e9f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #0663a4, #222258, #611e9f); /* Standard syntax (must be last) */
    color: white;
}

.avatarEditorContainerButton.font.right.rainbow:hover {
    background: -webkit-linear-gradient(left, #bad1e2, #a8a8bf, #c6acde); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #bad1e2, #a8a8bf, #c6acde); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #bad1e2, #a8a8bf, #c6acde); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #bad1e2, #a8a8bf, #c6acde); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatarEditorContainerButton.base.silver {
    background: -webkit-linear-gradient(left, #dadada , #8e8e8e, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dadada , #8e8e8e, #dadada); /* Standard syntax (must be last) */
}

.avatarEditorContainerButton.font.silver {
    color: white;
}

.avatarEditorContainerButton.font.silver:hover {
    background: -webkit-linear-gradient(left, #f4f4f4 , #dddddd, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f4f4f4 , #dddddd, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f4f4f4 , #dddddd, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f4f4f4 , #dddddd, #f4f4f4); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatarEditorContainerButton.base.silver:active {
    background: -webkit-linear-gradient(left, #999999, #646464 , #999999); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #999999, #646464 , #999999); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #999999, #646464 , #999999); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #999999, #646464 , #999999); /* Standard syntax (must be last) */
}

.avatarEditorContainerButton.font.silver:active {
    background: -webkit-linear-gradient(left, #dcdcdc, #c7c7c7 , #dcdcdc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dcdcdc, #c7c7c7 , #dcdcdc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dcdcdc, #c7c7c7 , #dcdcdc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dcdcdc, #c7c7c7 , #dcdcdc); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatarEditorContainerButton.base.gold {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
}

.avatarEditorContainerButton.font.gold {
    color: white
}

.avatarEditorContainerButton.font.gold:hover {
    background: -webkit-linear-gradient(left, #e6d6bb , #faf1d0, #e6d6bb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e6d6bb , #faf1d0, #e6d6bb); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatarEditorContainerButton.base.gold:active {
    background: -webkit-linear-gradient(left, #785414, #a79346 , #785414); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #785414, #a79346 , #785414); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #785414, #a79346 , #785414); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #785414, #a79346 , #785414); /* Standard syntax (must be last) */
}

.avatarEditorContainerButton.font.gold:active {
    background: -webkit-linear-gradient(left, #cfc1a9, #e1d9bc , #cfc1a9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #cfc1a9, #e1d9bc , #cfc1a9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #cfc1a9, #e1d9bc , #cfc1a9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #cfc1a9, #e1d9bc , #cfc1a9); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatarEditorContainerButton.base.left.platinum {
    background: -webkit-linear-gradient(left, #d3e9f6, #6b8c95, #566167); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3e9f6, #6b8c95, #566167); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3e9f6, #6b8c95, #566167); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3e9f6, #6b8c95, #566167); /* Standard syntax (must be last) */
}

.avatarEditorContainerButton.base.left.platinum {
    color: white;
}

.avatarEditorContainerButton.font.left.platinum:hover {
    background: -webkit-linear-gradient(left, #f2f8fc, #d2dcdf, #cccfd1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f2f8fc, #d2dcdf, #cccfd1); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatarEditorContainerButton.base.left.platinum:active {
    background: -webkit-linear-gradient(left, #94a4ad, #4b6269, #3c4448); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #94a4ad, #4b6269, #3c4448); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #94a4ad, #4b6269, #3c4448); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #94a4ad, #4b6269, #3c4448); /* Standard syntax (must be last) */
}

.avatarEditorContainerButton.font.left.platinum:active {
    background: -webkit-linear-gradient(left, #dae0e3, #bdc6c9, #b8bbbd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dae0e3, #bdc6c9, #b8bbbd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dae0e3, #bdc6c9, #b8bbbd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dae0e3, #bdc6c9, #b8bbbd); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatarEditorContainerButton.base.middle.platinum {
    background: -webkit-linear-gradient(left, #566167, #8e8e8e, #6d606a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #566167, #8e8e8e, #6d606a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #566167, #8e8e8e, #6d606a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #566167, #8e8e8e, #6d606a); /* Standard syntax (must be last) */
}

.avatarEditorContainerButton.base.middle.platinum {
    color: white;
}

.avatarEditorContainerButton.font.middle.platinum:hover {
    background: -webkit-linear-gradient(left, #cccfd1, #dddddd, #d3cfd2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #cccfd1, #dddddd, #d3cfd2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #cccfd1, #dddddd, #d3cfd2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #cccfd1, #dddddd, #d3cfd2); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatarEditorContainerButton.base.middle.platinum:active {
    background: -webkit-linear-gradient(left, #3c4448, #646464, #4d434a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #3c4448, #646464, #4d434a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #3c4448, #646464, #4d434a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #3c4448, #646464, #4d434a); /* Standard syntax (must be last) */
}

.avatarEditorContainerButton.font.middle.platinum:active {
    background: -webkit-linear-gradient(left, #b8bbbd, #c7c7c7, #bebbbd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #b8bbbd, #c7c7c7, #bebbbd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #b8bbbd, #c7c7c7, #bebbbd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #b8bbbd, #c7c7c7, #bebbbd); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatarEditorContainerButton.base.right.platinum {
    background: -webkit-linear-gradient(left, #6d606a,  #af9499, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #6d606a,  #af9499, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #6d606a,  #af9499, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #6d606a,  #af9499, #dadada); /* Standard syntax (must be last) */ 
}

.avatarEditorContainerButton.base.right.platinum {
    color: white;
}

.avatarEditorContainerButton.font.right.platinum:hover {
    background: -webkit-linear-gradient(left, #d3cfd2, #e7dfe0, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3cfd2, #e7dfe0, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3cfd2, #e7dfe0, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3cfd2, #e7dfe0, #f4f4f4); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatarEditorContainerButton.base.right.platinum:active {
    background: -webkit-linear-gradient(left, #4d434a, #7b686b, #999999); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #4d434a, #7b686b, #999999); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #4d434a, #7b686b, #999999); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #4d434a, #7b686b, #999999); /* Standard syntax (must be last) */
}

.avatarEditorContainerButton.font.right.platinum:active {
    background: -webkit-linear-gradient(left, #bebbbd, #d0c9ca, #dcdcdc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #bebbbd, #d0c9ca, #dcdcdc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #bebbbd, #d0c9ca, #dcdcdc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #bebbbd, #d0c9ca, #dcdcdc); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatarEditorContainerButton.masculine {
    background-color: #4a76fd;
    color: white;
}

.avatarEditorContainerButton.masculine:hover {
    color: #d8e1fe;
}

.avatarEditorContainerButton.masculine:active {
    background-color: #3453b2;
    color: #c3cbe5;
}

.avatarEditorContainerButton.feminine {
    background-color: #e639af;
    color: white;
}

.avatarEditorContainerButton.feminine:hover {
    color: #fde1ef;
}

.avatarEditorContainerButton.feminine:active {
    background-color: #a1287b;
    color: #e4cbd8;
}

.avatarEditorContainerButton.gray {
    background-color: #a4b4b7;
    color: white;
}

.avatarEditorContainerButton.gray:hover {
    color: #e4e6e7;
}

.avatarEditorContainerButton.gray:active {
    background-color: #7a7e80;
    color: #cecfd0;
}