.postFeed {
    flex: 5.5;
    position: relative;
    z-index: 990;
}

.postFeed-container {
    padding: 1.25rem; /*20px*/
}

.pfCreatePostBtn-container {
    position: relative;
    height: 3.625rem; /*58px*/
    width: 100%;
    border-radius: 1.813rem; /*29px*/
    margin-bottom: 1.875rem; /*30px*/
}

.pfCreatePostBtnHigherSpectrumBackground {
    position: absolute;
    width: 100%;
    height: 3.625rem; /*58px*/
    border-radius: 1.813rem; /*29px*/
    top: 0;
    left: 0;
    background-size: cover;
    opacity: .3;
}

.pfCreatePostBtnWhiteBackground {
    position: absolute;
    margin: 1.5rem 1.875rem; /*24px 30px*/
    width: calc(100% - 3.75rem); /*60px*/
    height: 0.625rem; /*10px*/
    border-radius: 1.25rem; /*20px*/
    top: 0;
    left: 0;
    background-color: white;
    -webkit-box-shadow: 0rem 0rem 1.875rem 1.875rem white; /*0px 0px 30px 30px*/
    box-shadow: 0rem 0rem 1.875rem 1.875rem white; /*0px 0px 30px 30px*/
}

.pfCreatePostBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:  0 5px;
    height: 3.625rem; /*58px*/
    width: calc(100% - 0.625rem); /*10px*/
    border-radius: 1.813rem; /*29px*/
    margin-bottom: 1.875rem; /*30px*/
    overflow: hidden;
    cursor: pointer;
}

.pfCreatePostBtn.union {
    position: absolute;
}

.pfCreatePostBtnLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pfCreatePostBtnAvatar {
    display: flex;
    flex-shrink: 0;
    height: 3rem; /*48px*/
    width: 3rem; /*48px*/
    border-radius: 50%;
    object-fit: cover;
}

.pfCreatePostBtnPlaceHolder {
    margin-left: 0.625rem; /*10px*/
    font-size: 0.875rem; /*14px*/
    font-style: italic;
}

.pfCreatePostBtnText.intangible {
    color: #aeb4b7;
    cursor: initial;
    z-index: -1;
}

.pfCreatePostBtnText.tangible {
    cursor: pointer;
    opacity: 0.6;
    font-weight: 500;
    z-index: 100;
}

.pfCreatePostBtnText.tangible:hover {
    font-weight: 900;
}

.pfCreatePostBtnText.masculine {
    color: #4a76fd;
}

.pfCreatePostBtnText.feminine {
    color: #e639af;
}

.pfCreatePostBtnText.ruby {
    color: #850014;
}

.pfCreatePostBtnText.orange {
    color: #ff8303;
}

.pfCreatePostBtnText.sun {
    color: #ffe700;
}

.pfCreatePostBtnText.emerald {
    color: #50c878;
}

.pfCreatePostBtnText.blue {
    color: #098de9;
}

.pfCreatePostBtnText.indigo {
    color: #30307e;
}

.pfCreatePostBtnText.violet {
    color: #8a2be2;
}

.pfCreatePostBtnText.rainbow {
    background: -webkit-linear-gradient(left, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pfCreatePostBtnText.silver {
    background: -webkit-linear-gradient(left, #dadada , #8e8e8e, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dadada , #8e8e8e, #dadada); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pfCreatePostBtnText.gold {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pfCreatePostBtnText.platinum {
    background: -webkit-linear-gradient(left, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a, #af9499, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a, #af9499, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a, #af9499, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a, #af9499, #dadada); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pfCreatePostBtnText.diamond {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pfCreatePostBtnText.gray {
    color: #aeb4b7;
}

.pfCreatePostBtnRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*

.pfCreatePostSVGIcon {
    margin-right: 10px;
    font-size: 30px !important;
    color: #aeb4b7;
}

*/

.pfCreatePostPNGIcon {
    height: 1.5rem; /*24px*/
    width: 1.5rem; /*24px*/
    margin-left: -4px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none
}



.pfCreatePostAskBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem; /*48px*/
    width: 3rem; /*48px*/
    border-radius: 50%;
    color: white;
    background-size: cover;
}
.pfCreatePostAskBtn.masculine {
    background-color: #4a76fd;
}

.pfCreatePostAskBtnIcon.masculine:hover {
    color: #d8e1fe
}

.pfCreatePostAskBtn.feminine {
    background-color: #e639af;
}

.pfCreatePostAskBtn.ruby {
    background-color: #850014;   
}

.pfCreatePostAskBtn.orange { 
    background-color: #ff8303; 
}

.pfCreatePostAskBtn.sun {
    background-color: #ffe700;  
}

.pfCreatePostAskBtn.emerald { 
    background-color: #50c878; 
}

.pfCreatePostAskBtn.blue {
    background-color: #098de9; 
}

.pfCreatePostAskBtn.indigo { 
    background-color: #30307e; 
}

.pfCreatePostAskBtn.violet { 
    background-color: #8a2be2; 
}

.pfCreatePostAskBtn.rainbow {
    background: -webkit-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #850014, #ff8303, #ffe700, #50c878, #098de9, #30307e, #8a2be2); /* Standard syntax (must be last) */
}

.pfCreatePostAskBtn.silver {
    background: -webkit-linear-gradient(left, #dadada , #8e8e8e, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dadada , #8e8e8e, #dadada); /* Standard syntax (must be last) */
}

.pfCreatePostAskBtn.gold {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
}

.pfCreatePostAskBtn.platinum {
    background: -webkit-linear-gradient(left, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3e9f6, #6b8c95, #566167, #8e8e8e, #6d606a,  #af9499, #dadada); /* Standard syntax (must be last) */
}

.pfCreatePostAskBtn.gray {
    background-color: #aeb4b7;
}

.pfCreatePostAskBtnIcon {
    font-size: 1.875rem; /*30px*/
    font-weight: 500;
    color: white;
}

.pfCreatePostAskBtnIcon.masculine:hover {
    color: #d8e1fe;
}

.pfCreatePostAskBtnIcon.feminine:hover {
    color: #fde1ef;
}

.pfCreatePostAskBtnIcon.ruby:hover {
    color: #d4a6ad;
}

.pfCreatePostAskBtnIcon.orange:hover {
    color: #ffdab3;
}

.pfCreatePostAskBtnIcon.sun:hover {
    color: #fff9bf;
}

.pfCreatePostAskBtnIcon.emerald:hover {
    color: #caeed6;
}

.pfCreatePostAskBtnIcon.blue:hover {
    color: #cee8fb;
}

.pfCreatePostAskBtnIcon.indigo:hover {
    color: #babad4;
}

.pfCreatePostAskBtnIcon.violet:hover {
    color: #dcbff6;
}

.pfCreatePostAskBtnIcon.rainbow:hover {
    background: -webkit-linear-gradient(left, #d4a6ad, #ffdab3 , #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d4a6ad, #ffdab3 , #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d4a6ad, #ffdab3 , #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d4a6ad, #ffdab3 , #fff9bf, #caeed6, #cee8fb, #babad4, #dcbff6); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pfCreatePostAskBtnIcon.silver:hover {
    background: -webkit-linear-gradient(left, #f4f4f4 , #dddddd, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f4f4f4 , #dddddd, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f4f4f4 , #dddddd, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f4f4f4 , #dddddd, #f4f4f4); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pfCreatePostAskBtnIcon.gold:hover {
    background: -webkit-linear-gradient(left, #e6d6bb , #faf1d0, #e6d6bb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e6d6bb , #faf1d0, #e6d6bb); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pfCreatePostAskBtnIcon.platinum:hover {
    background: -webkit-linear-gradient(left, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f2f8fc, #d2dcdf, #cccfd1, #dddddd, #d3cfd2,  #e7dfe0, #f4f4f4); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pfCreatePostAskBtnIcon.gray:hover {
    color: #f1f1f1;
}



.postFeedContainerBtns {
    display: flex;
    justify-content: center;
    margin-bottom: 1.875rem; /*30px*/
}

.postFeedContainerBtnBase {
    width: 40%;
    height: 1.875rem; /*30px*/
    font-size: 0.875rem; /*14px*/
    font-weight: 700;
    border: none;
    position: relative;
    background-size: cover;
}

.postFeedContainerBtnBase-active {
    width: 40%;
    height: 1.875rem; /*30px*/
    font-size: 0.875rem; /*14px*/
    font-weight: 700;
    border: none;
    position: relative;
    background-size: cover;
    opacity: 30%;
}

.postFeedContainerBtn {
    white-space: nowrap;
    width: 40%;
    height: 1.875rem; /*30px*/
    font-size: 0.875rem; /*14px*/
    font-weight: 700;
    border: none;
}

.postFeedContainerBtn-active {
    white-space: nowrap;
    width: 40%;
    height: 1.875rem; /*30px*/
    font-size: 0.875rem; /*14px*/
    font-weight: 700;
    border: none;
}

.postFeedContainerBtnFont {
    white-space: nowrap;
    width: 100%;
    height: 1.875rem; /*30px*/
    font-size: 0.875rem; /*14px*/
    font-weight: 700;
    border: none;
}

.postFeedContainerBtnFont-active {
    white-space: nowrap;
    width: 100%;
    height: 1.875rem; /*30px*/
    font-size: 0.875rem; /*14px*/
    font-weight: 700;
    border: none;
}

.postFeedContainerBtnBase.journey {
    border-top-left-radius: 1.875rem; /*30px*/
    border-bottom-left-radius: 1.875rem; /*30px*/
    margin-right: 0.3%;
}


.postFeedContainerBtnBase-active.journey {
    border-top-left-radius: 1.875rem; /*30px*/
    border-bottom-left-radius: 1.875rem; /*30px*/
    margin-right: 0.3%;
}

.postFeedContainerBtn.journey {
    border-top-left-radius: 1.875rem; /*30px*/
    border-bottom-left-radius: 1.875rem; /*30px*/
    margin-right: 0.3%;
}


.postFeedContainerBtn-active.journey {
    border-top-left-radius: 1.875rem; /*30px*/
    border-bottom-left-radius: 1.875rem; /*30px*/
    margin-right: 0.3%;
}

.postFeedContainerBtnBase.group {
    margin: 0 0.3%;
}


.postFeedContainerBtnBase-active.group {
    margin: 0 0.3%;
}

.postFeedContainerBtn.group {
    margin: 0 0.3%;
}


.postFeedContainerBtn-active.group {
    margin: 0 0.3%;
}

.postFeedContainerBtnBase.coaching {
    border-top-right-radius: 1.875rem; /*30px*/
    border-bottom-right-radius: 1.875rem; /*30px*/
    margin-left: 0.3%;
}

.postFeedContainerBtnBase-active.coaching {
    border-top-right-radius: 1.875rem; /*30px*/
    border-bottom-right-radius: 1.875rem; /*30px*/
    margin-left: 0.3%;
}

.postFeedContainerBtn.coaching {
    border-top-right-radius: 1.875rem; /*30px*/
    border-bottom-right-radius: 1.875rem; /*30px*/
    margin-left: 0.3%;
}

.postFeedContainerBtn-active.coaching {
    border-top-right-radius: 1.875rem; /*30px*/
    border-bottom-right-radius: 1.875rem; /*30px*/
    margin-left: 0.3%;
}


.postFeedContainerBtn.masculine {
    background-color: #4a76fd;
    color: #d8e1fe;
}

.postFeedContainerBtn-active.masculine {
    background-color: #d8e1fe;
    color: #4a76fd;
}

.postFeedContainerBtn.feminine {
    background-color: #e639af;
    color: #fde1ef;
}

.postFeedContainerBtn-active.feminine {
    background-color: #fde1ef;
    color: #e639af;
}

.postFeedContainerBtn.ruby {
    background-color: #850014;
    color: #d4a6ad;
}

.postFeedContainerBtn-active.ruby {
    background-color: #d4a6ad;
    color: #850014;
}

.postFeedContainerBtn.orange {
    background-color: #ff8303;
    color: #ffdab3;
}

.postFeedContainerBtn-active.orange {
    background-color: #ffdab3;
    color: #ff8303;
}

.postFeedContainerBtn.sun {
    background-color: #ffe700;
    color: #fff9bf;
}

.postFeedContainerBtn-active.sun {
    background-color: #fff9bf;
    color: #ffe700;
}

.postFeedContainerBtn.emerald {
    background-color: #50c878;
    color: #caeed6;
}

.postFeedContainerBtn-active.emerald {
    background-color: #caeed6;
    color: #50c878;
}

.postFeedContainerBtn.blue {
    background-color: #098de9;
    color: #cee8fb;
}

.postFeedContainerBtn-active.blue {
    background-color: #cee8fb;
    color: #098de9;
}

.postFeedContainerBtn.indigo {
    background-color: #30307e;
    color: #babad4;
}

.postFeedContainerBtn-active.indigo {
    background-color: #babad4;
    color: #30307e;
}

.postFeedContainerBtn.violet {
    background-color: #8a2be2;
    color: #dcbff6;
}

.postFeedContainerBtn-active.violet {
    background-color: #dcbff6;
    color: #8a2be2;
}

.postFeedContainerBtnBase-active.journey.rainbow {
    background: -webkit-linear-gradient(left, #d4a6ad , #ffdab3, #fff9bf); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d4a6ad , #ffdab3, #fff9bf); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d4a6ad , #ffdab3, #fff9bf); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d4a6ad , #ffdab3, #fff9bf); /* Standard syntax (must be last) */
}

.postFeedContainerBtnBase.journey.rainbow {
    background: -webkit-linear-gradient(left, #850014 , #ff8303, #ffe700); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #850014 , #ff8303, #ffe700); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #850014 , #ff8303, #ffe700); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #850014 , #ff8303, #ffe700); /* Standard syntax (must be last) */
}

.postFeedContainerBtnFont-active.journey.rainbow {
    background: -webkit-linear-gradient(left, #850014 , #ff8303, #ffe700); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #850014 , #ff8303, #ffe700); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #850014 , #ff8303, #ffe700); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #850014 , #ff8303, #ffe700); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}

.postFeedContainerBtnFont.journey.rainbow {
    background: -webkit-linear-gradient(left, #d4a6ad , #ffdab3, #fff9bf); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d4a6ad , #ffdab3, #fff9bf); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d4a6ad , #ffdab3, #fff9bf); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d4a6ad , #ffdab3, #fff9bf); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}

.postFeedContainerBtnBase-active.group.rainbow {
    background: -webkit-linear-gradient(left, #fff9bf, #caeed6, #cee8fb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #fff9bf, #caeed6, #cee8fb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #fff9bf, #caeed6, #cee8fb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #fff9bf, #caeed6, #cee8fb); /* Standard syntax (must be last) */
}

.postFeedContainerBtnBase.group.rainbow {
    background: -webkit-linear-gradient(left, #ffe700, #50c878, #098de9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ffe700, #50c878, #098de9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ffe700, #50c878, #098de9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ffe700, #50c878, #098de9); /* Standard syntax (must be last) */
}

.postFeedContainerBtnFont-active.group.rainbow {
    background: -webkit-linear-gradient(left, #ffe700, #50c878, #098de9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ffe700, #50c878, #098de9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ffe700, #50c878, #098de9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ffe700, #50c878, #098de9); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}

.postFeedContainerBtnFont.group.rainbow {
    background: -webkit-linear-gradient(left, #fff9bf, #caeed6, #cee8fb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #fff9bf, #caeed6, #cee8fb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #fff9bf, #caeed6, #cee8fb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #fff9bf, #caeed6, #cee8fb); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}

.postFeedContainerBtnBase-active.coaching.rainbow {
    background: -webkit-linear-gradient(left #cee8fb, #babad4, #dcbff6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #cee8fb, #babad4, #dcbff6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #cee8fb, #babad4, #dcbff6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #cee8fb, #babad4, #dcbff6); /* Standard syntax (must be last) */
}

.postFeedContainerBtnBase.coaching.rainbow {
    background: -webkit-linear-gradient(left, #098de9, #30307e, #8a2be2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #098de9, #30307e, #8a2be2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #098de9, #30307e, #8a2be2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #098de9, #30307e, #8a2be2); /* Standard syntax (must be last) */   
}

.postFeedContainerBtnFont-active.coaching.rainbow {
    background: -webkit-linear-gradient(left, #098de9, #30307e, #8a2be2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #098de9, #30307e, #8a2be2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #098de9, #30307e, #8a2be2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #098de9, #30307e, #8a2be2); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}

.postFeedContainerBtnFont.coaching.rainbow {
    background: -webkit-linear-gradient(left, #cee8fb, #babad4, #dcbff6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #cee8fb, #babad4, #dcbff6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #cee8fb, #babad4, #dcbff6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #cee8fb, #babad4, #dcbff6); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}

.postFeedContainerBtnBase-active.silver {
    background: -webkit-linear-gradient(left, #f4f4f4 , #dddddd, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f4f4f4 , #dddddd, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f4f4f4 , #dddddd, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f4f4f4 , #dddddd, #f4f4f4); /* Standard syntax (must be last) */
}


.postFeedContainerBtnBase.silver {
    background: -webkit-linear-gradient(left, #dadada , #8e8e8e, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dadada , #8e8e8e, #dadada); /* Standard syntax (must be last) */
}


.postFeedContainerBtnFont-active.silver {
    background: -webkit-linear-gradient(left, #dadada , #8e8e8e, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #dadada , #8e8e8e, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #dadada , #8e8e8e, #dadada); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.postFeedContainerBtnFont.silver {
    background: -webkit-linear-gradient(left, #f4f4f4 , #dddddd, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f4f4f4 , #dddddd, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f4f4f4 , #dddddd, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f4f4f4 , #dddddd, #f4f4f4); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.postFeedContainerBtnBase-active.gold {
    background: -webkit-linear-gradient(left, #e6d6bb , #faf1d0, #e6d6bb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e6d6bb , #faf1d0, #e6d6bb); /* Standard syntax (must be last) */
}

.postFeedContainerBtnBase.gold {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
}

.postFeedContainerBtnFont-active.gold {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.postFeedContainerBtnFont.gold {
    background: -webkit-linear-gradient(left, #e6d6bb , #faf1d0, #e6d6bb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e6d6bb , #faf1d0, #e6d6bb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e6d6bb , #faf1d0, #e6d6bb); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.postFeedContainerBtnBase-active.journey.platinum {
    background: -webkit-linear-gradient(left, #f2f8fc, #d2dcdf, #cccfd1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f2f8fc, #d2dcdf, #cccfd1); /* Standard syntax (must be last) */
}

.postFeedContainerBtnBase.journey.platinum {
    background: -webkit-linear-gradient(left, #d3e9f6, #6b8c95, #566167); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3e9f6, #6b8c95, #566167); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3e9f6, #6b8c95, #566167); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3e9f6, #6b8c95, #566167); /* Standard syntax (must be last) */
}

.postFeedContainerBtnFont-active.journey.platinum {
    background: -webkit-linear-gradient(left, #d3e9f6, #6b8c95, #566167); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3e9f6, #6b8c95, #566167); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3e9f6, #6b8c95, #566167); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3e9f6, #6b8c95, #566167); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.postFeedContainerBtnFont.journey.platinum {
    background: -webkit-linear-gradient(left, #f2f8fc, #d2dcdf, #cccfd1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f2f8fc, #d2dcdf, #cccfd1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f2f8fc, #d2dcdf, #cccfd1); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.postFeedContainerBtnBase-active.group.platinum {
    background: -webkit-linear-gradient(left, #cccfd1, #dddddd, #d3cfd2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #cccfd1, #dddddd, #d3cfd2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #cccfd1, #dddddd, #d3cfd2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #cccfd1, #dddddd, #d3cfd2); /* Standard syntax (must be last) */
}

.postFeedContainerBtnBase.group.platinum {
    background: -webkit-linear-gradient(left, #566167, #8e8e8e, #6d606a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #566167, #8e8e8e, #6d606a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #566167, #8e8e8e, #6d606a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #566167, #8e8e8e, #6d606a); /* Standard syntax (must be last) */
}

.postFeedContainerBtnFont-active.group.platinum {
    background: -webkit-linear-gradient(left, #566167, #8e8e8e, #6d606a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #566167, #8e8e8e, #6d606a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #566167, #8e8e8e, #6d606a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #566167, #8e8e8e, #6d606a); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.postFeedContainerBtnFont.group.platinum {
    background: -webkit-linear-gradient(left, #cccfd1, #dddddd, #d3cfd2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #cccfd1, #dddddd, #d3cfd2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #cccfd1, #dddddd, #d3cfd2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #cccfd1, #dddddd, #d3cfd2); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.postFeedContainerBtnBase-active.coaching.platinum {
    background: -webkit-linear-gradient(left, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3cfd2,  #e7dfe0, #f4f4f4); /* Standard syntax (must be last) */
}

.postFeedContainerBtnBase.coaching.platinum {
    background: -webkit-linear-gradient(left, #6d606a,  #af9499, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #6d606a,  #af9499, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #6d606a,  #af9499, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #6d606a,  #af9499, #dadada); /* Standard syntax (must be last) */
}

.postFeedContainerBtnFont-active.coaching.platinum {
    background: -webkit-linear-gradient(left, #6d606a,  #af9499, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #6d606a,  #af9499, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #6d606a,  #af9499, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #6d606a,  #af9499, #dadada); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.postFeedContainerBtnFont.coaching.platinum {
    background: -webkit-linear-gradient(left, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d3cfd2,  #e7dfe0, #f4f4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d3cfd2,  #e7dfe0, #f4f4f4); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.postFeedContainerBtnFont.diamond {
    background: -webkit-linear-gradient(left, #ab781d , #eed264, #ab781d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ab781d , #eed264, #ab781d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ab781d , #eed264, #ab781d); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.postFeedContainerBtn.gray {
    background-color: #bfc2c7; 
}

.postFeedContainerBtn-active.gray {
    color: #bfc2c7;
}


.postFeedConnectTFLogo {
    width: 3.125rem; /*50px*/
    margin: 0 calc(50% - 1.563rem); /*25px*/
}

.MuiCircularProgress-root {   
    size: 3.125rem; /*50px*/
    margin: 0 calc(50% - 1.563rem); /*25px*/
}

.MuiCircularProgress-colorPrimary {
    color: #aeb4b7;
}