.editMedium {
    display: flex;
}

.editMedium-container {
    margin-top: 74px;
    width: 100%;
    padding: 20px 20% 30px 15%;
    overflow-x: hidden;  
}

.editMediumAd {
    margin: 0 20px;
}

.editMediumRight {
    margin: 0 60px 0 20px;
}

.editMediumDisplayContainer {
    width: 100%;
    position: relative;
}

.editMediumDisplayBackgroundTheme {
    width: 100%;
    padding-right: 40px;
    border-radius: 20px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    position: absolute;
    opacity: 0.75;
}

.editMediumDisplay-container {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    padding: 20px; 
    
}

.editMediumDisplay-container.union {
    position: sticky;
}

.editMediumDisplay-container.flame {
    width: calc(100% - 20px);
}

.editMediumDisplayList {
    padding-left: 0;
}

.editMediumDisplayListItem {
    list-style: none;
}