.share {
    display: flex;
    z-index: 999;
}

.share-container {
    margin-top: 74px;
    width: 100%;
    padding: 20px 20% 20px 15%;
    overflow-x: hidden;  
}

.shareAd {
    margin: 0 20px;
}

.shareRight {
    margin: 0 60px 0 20px;
}

.shareDisplayContainer {
    width: 100%;
    position: relative;
}

.shareDisplayBackgroundTheme {
    width: 100%;
    padding-right: 40px;
    border-radius: 20px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    position: absolute;
    opacity: 0.75;
}

.shareDisplay-container {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    padding: 20px;  
}

.shareDisplay-container.union {
    position: sticky;
}

.shareDisplay-container.flame {
    width: 100%;
}

.shareDisplayList {
    padding-left: 0;
}

.shareDisplayListItem {
    list-style: none;
}