.createMedium {
    display: flex;
}

.createMedium-container {
    margin-top: 74px;
    width: 100%;
    padding: 20px 20% 30px 15%;
    overflow-x: hidden;  
}

.createMediumAd {
    margin: 0 20px;
}

.createMediumRight {
    margin: 0 60px 0 20px;
}

.createMediumDisplayContainer {
    width: 100%;
    position: relative;
}

.createMediumDisplayBackgroundTheme {
    width: 100%;
    padding-right: 40px;
    border-radius: 20px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    position: absolute;
    opacity: 0.75;
}

.createMediumDisplay-container {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    padding: 20px; 
    
}

.createMediumDisplay-container.union {
    position: sticky;
}

.createMediumDisplay-container.flame {
    width: calc(100% - 20px);
}

.createMediumDisplayList {
    padding-left: 0;
}

.createMediumDisplayListItem {
    list-style: none;
}